{% extends 'nav.html' %}

{% block content %}
<style>
    .detail_context {
        margin: 20px 0;
    }
    @media screen and (max-width: 768px) {
        .detail_container {
            padding: 10px 20px;
        }
    }
</style>

<div class="detail_container">
    <div class="freeDtLeft">
        {%if detail.ID.id == user.id%}
        <a href="{% url 'freeDelete' detail.id %}">삭제</a>
        <a href="{% url 'freeEdit' detail.id %}">수정</a>
        {% endif %}
        <h2 class="detail_title">{{detail.title}}</h3>
        <form action="{% url 'freeLike' detail.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="{{detail.like_count}}" class="">
        </form>
        <div class="freeUser">
            <div class="detail__lev" style="margin: 1px;"></div>
            <a href="{% url 'userProfile' detail.ID.username %}" class="freeUserName nav-link nav_change_color">{{detail.ID.username}}</a>
            <span>{{detail.writeDate|date:'m-d H:i'}}</span>
        </div>
        <p class="detail_context">{{detail.body}}</p>
    </div>
    
    <div class="freeDtRight">
        <form method="POST" action="{% url 'create_comment' detail.id %}">
            {% csrf_token %}
            {{comment_form.body}}
            <input type="submit" value="등록" class="comment_btn">
        </form>

        <div>
        {% for comment in detail.comment_set.all %}
            <div class="freecommentUser"><span>{{comment.ID.username}}</span> <span class="freedate">{{comment.writeDate|date:'m-d H:i'}}</span></div>
            <p >{{ comment.body }}</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}