{% extends 'nav.html' %}

{% block content %}
{% load static %}

<style>
    .detail_context {
        margin: 20px 0;
    }
    @media screen and (max-width: 768px) {
        .detail_container {
            padding: 10px 20px;
        }
        .detail_nav {
            margin-bottom: 10px;
        }
    }
</style>

<div class="detail_container">
    <div class="detail_nav">
        {%if detail.ID.id == user.id%}
            <a href="{% url 'freeDelete' detail.id %}" class="detail_navEle">삭제</a>
            <a href="{% url 'freeEdit' detail.id %}" class="detail_navEle">수정</a>
        {% endif %}
    </div>
    
    <div class="freeDtLeft">
        <div style="overflow: hidden;">
            <h2 class="detail_title" style="width: calc(100% - 40px); float: left;">{{detail.title}}</h3>
            <div style="width: 15px; font-size: 15px; font-weight: bold; color: var(--first-color); margin-top: 2.5px; float: right;">{{detail.like_count}}</div>
            <form action="{% url 'freeLike' detail.id %}" method="post">
                {% csrf_token %}
                {% if user in detail.freeLike_users.all %}
                    <input type="submit" value="♥" class="">
                {% else %}
                    <input type="submit" value="♡" class="">
                {% endif %}
            </form>
        </div>
        
        <div class="freeUser">
            <div style="width: 30px;">
                {% if user.level == 0 %}
                    <img src="{% static 'images/level0.png'%}" class="detail__lev">
                {% elif user.level == 1 %}
                    <img src="{% static 'images/level1.png'%}" class="detail__lev">
                {% elif user.level == 2 %}
                    <img src="{% static 'images/level2.png'%}"class="detail__lev">
                {% elif user.level == 3 %}
                    <img src="{% static 'images/level3.png'%}" class="detail__lev">
                {% elif user.level == 4 %}
                    <img src="{% static 'images/level4.png'%}" class="detail__lev">
                {% endif %}
            </div>
            {% if detail.ID.id == user.id %}
                <a href="{% url 'profileHome' user.username %}" class="detail_usrname nav-link nav_change_color">{{detail.ID.username}}</a>
                {%else%}
                <a href="{% url 'userProfile' detail.ID.username %}" class="detail_usrname nav-link nav_change_color">{{detail.ID.username}}</a>
                {%endif%}
            <span>{{detail.writeDate|date:'m-d H:i'}}</span>
        </div>
        <p class="detail_context">{{detail.body}}</p>
    </div>
    
    <div class="freeDtRight">
        <form method="POST" action="{% url 'create_comment' detail.id %}">
            {% csrf_token %}
            {{comment_form.body}}
            <input type="submit" value="등록" class="comment_btn">
        </form>

        <div>
        {% for comment in detail.comment_set.all %}
            <div class="freecommentUser"><a class="nav-link" href="{% url 'userProfile' detail.ID.username %}">{{comment.ID.username}}</a> <span class="freedate">{{comment.writeDate|date:'m-d H:i'}}</span></div>
            {% if not forloop.last %}
                <p>{{ comment.body }}</p>
            {% else %}
                <p style="margin: 0;">{{ comment.body }}</p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}