{% extends 'nav.html' %}
{% load static %}

{% block content %}
<style>
  .detail_container {
    max-width: 768px;
  }
  @media screen and (max-width: 768px) {
    .detail_container {
      padding: 10px 20px;
    }
  }
</style>


<a href="{% url 'freeCreate' %}">
  <div class="abroad-primary-button abroad-button">
    <div><i class="fas fa-plus"></i></div>
  </div>
</a>

<input type="button"  class='rightBtn' value="글쓰기" onClick=" location.href='create'">

<div class="detail_container">
  {% for post in posts %}
  <div class="freeContent">
    <div class="freePost"><a href="{% url 'freeDetail' post.id %}">
      <p class="freeTitle">{{post.title}}</p>
      <p class="freeBody">{{post.summary}}</p>
    </a></div>
    <div class="freeContentIcon">
      <span>{{post.writeDate|date:'m-d H:i'}}</span>
      <span class="freeUsername">| {{post.ID.username}}</span>
      <div class="icons">
        <div class="freeRIcon">
          <img src="{%static 'images/freeLike.png' %}" alt="">
          <span style="color: #FF2A17; margin-left : 5px;">{{post.like_count}}</span>
        </div>
        <div class="freeRIcon">
          <img src="{%static 'images/freeC.png' %}" alt="">
          <span style="color: #0083FF;margin-left : 5px">{{post.comment_set.all.count}}</span>
        </div>
        
      </div>
    </div>

  </div>
  {% endfor %}
<!-- </div>

  <div >
          <div class="card freebd-home-board">
            <div class="card-header">
              <h4 class="card-title purbd_home_title"><a href="{# url 'freeDetail' post.id #}" class="stretched-link" >{{post.title}}</a></h4>

            </div>          
              <div class="card-body">              
                <h4 class="card-title purbd_home_title"><a href="{# url 'freeDetail' post.id #}" class="stretched-link" >{{post.title}}</a></h4>            
            </div> 
            <div class="card-footer">
              <span class="space">{{post.ID.username}}</span><span >{{post.writeDate}}</span>


        </div>
  </div> -->

{% endblock %}