{% extends 'nav.html' %}

{% block content %}

<style>
    #profile_editBox html, body {
        height: 100%;
    }
    #profile_editBox footer {
        display: none;
    }
    #profile_editBox #content__blur {
        height: 100%;   
    }
    /*@media screen and (max-width: 768px) {
        #profile_editBox body {
            padding: 0;
        }
    }*/
</style>

<form method="POST" role="form" action="{% url 'profileEdit' user.username %}" style="height: 100%;">
    {% csrf_token %}
    <!-- {{form}} -->
    <!-- <textarea class="detail_context report_textarea" type="text" name="content" placeholder="nickname을 입력하세요." cols=50 rows=10></textarea> -->
    <input class="profile_smsInput" type="text" name="content" placeholder="닉네임을 입력하세요.">
    <!-- <div style="height: calc(100% - 72.5px);"></div> -->
    <div style="height: calc(100% - 115px);"></div>
    <input class="create_submitButton buttonColor" type="submit" value="완료">
</form>

{% endblock %}