{% extends 'nav.html' %}

{% block content %}
{% load static %}

<div class="detail_container" style="max-width: 768px;">
    <table id="profile_table">
        <tr>
            <td style="width: 30px;"><img class="profile_img"></td>
            <td style="font-size: 20px; text-align: left;">
                <h3 class="profile_nick">{{user.username}}</h3>
                <!-- <h4 class="profile_text" style="font-size: 15px;">{{user.level}}</h4> -->
            </td>
        </tr>
    </table>

    <div class="profile_summary">
        <div class="profile_division">
            <div class="profile_divUpParts profile_verticalHr">레벨</div>
            <div class="profile_divDownParts profile_verticalHr">{{user.level}} {{user.point}}</div>
        </div>
        <div class="profile_division">
            <div class="profile_divUpParts profile_verticalHr">가입일</div>
            <div class="profile_divDownParts profile_verticalHr">{{user.date_joined|date:'Y-m-d'}}</div>
        </div><div class="profile_division">
            <div class="profile_divUpParts">최근 접속일</div>
            <div class="profile_divDownParts">{{user.last_login|date:'Y-m-d'}}</div>
        </div>
    </div>

    <div class="profile_summary" style="background-color: white; padding: 0;">
        <!-- 데스크탑 -->
        <div id="profile_desktop">
            <div id="profile_myPost" class="profile_halfDiv">
                <div class="profile_divUpParts" style="padding: 17.5px 0;">작성한 글</div>
                <div class="profile_posts" style="height: 170px;">
                    {% for post in p_post %}
                        {% if forloop.counter <= 3 %}
                            <a href="{% url 'buyDetail' post.id %}" class="profile_list nav-link nav_change_color">{{post.title}}</a>
                            {% if not forloop.last %}
                                <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>
                            {% else %}
                                <div class="profile_horizontalHr" style="margin-top: 1rem;"></div>
                            {% endif %}
                        {% elif forloop.counter == 4 %}
                            <div name="myPost" class="profile_more">더보기</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="profile_halfDiv">
                <div class="profile_divUpParts" style="padding: 17.5px 0;">좋아요 누른 글</div>
                <div class="profile_posts" style="height: 170px;">
                    {% for like in likes %}
                        {% if forloop.counter <= 3 %}
                            <a href="{% url 'buyDetail' like.id %}" class="profile_list nav-link nav_change_color">{{like.title}}</a>
                            {% if not forloop.last %}
                                <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>
                            {% else %}
                                <div class="profile_horizontalHr" style="margin-top: 1rem;"></div>
                            {% endif %}
                        {% elif forloop.counter == 4 %}
                            <div name="myLike" class="profile_more">더보기</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


        <!-- 모바일 -->
        <div id="profile_mobile">
            <div class="profile_halfDivM" style="margin-right: 20px;">
                <div style="width: 100%; position: absolute; top: 50%; transform: translate(0, -50%);">
                    <div class="profile_divUpParts">작성한 글</div>
                    
                    <!-- 글 수 -->
                    <div name="myPost" class="profile_divDownParts" style="font-size: 35px; line-height: 45px; padding-top: 10%;">
                        <!-- <script>var count = 0;</script>
                        {% for post in p_post %}
                            <script>count++;</script>
                        {% endfor %}
                        <script>
                            var myPost = document.getElementById('myPost');
                            myPost.textContent = count;
                        </script> -->
                        {% if p_post %}
                            {% for post in p_post %}
                                {% if forloop.last %}
                                    {{ forloop.counter }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            0
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="profile_halfDivM">
                <div style="width: 100%; position: absolute; top: 50%; transform: translate(0, -50%);">
                    <div class="profile_divUpParts">좋아요 누른 글</div>
                    
                    <!-- 글 수 -->
                    <div name="myLike" class="profile_divDownParts" style="font-size: 35px; line-height: 45px; padding-top: 10%;">
                        <!-- <script>count = 0;</script>
                        {% for like in likes %}
                            <script>count++;</script>
                        {% endfor %}
                        <script>
                            var like = document.getElementById('like');
                            like.textContent = count;
                        </script> -->
                        {% if likes %}
                            {% for like in likes %}
                                {% if forloop.last %}
                                    {{ forloop.counter }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            0
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>      
    </div>

    <!-- <div class="profile_summary profile_btns">
        <a class="nav-link nav_change_color" href="{% url 'profileEdit' user.username %}">프로필 수정</a>
    </div> -->
    <div id="edit" class="profile_summary profile_btns">프로필 수정</div>
    
    <div class="profile_summary profile_btns">
        <a id="sms" class="nav-link nav_change_color" href="" style="width: calc(100% - 40px); float: left;">휴대폰 인증</a>
        <!-- 휴대폰 인증http://127.0.0.1:8000/profile/admin/sms -->
        <!-- {% url 'sms' user.username %} -->
        <!-- if 인증됨 -->
        <ion-icon name="checkmark-circle" style="width: 20px; height: 20px; color: var(--first-color); padding-top: 1px; float: right;"></ion-icon>
        <!-- else -->
        <ion-icon name="alert-circle" style="width: 20px; height: 20px; color: var(--first-color); padding-top: 1px; float: right;"></ion-icon>
    </div>
    
    {% if user.is_staff %}
    <div class="profile_summary profile_btns">
        <a class="nav-link nav_change_color" href="{# url 'report' #}">신고보기</a>
    </div>
    {% endif %}

    <div class="profile_summary profile_btns profile_delete">
        <a class="nav-link nav_change_color" href="{% url 'logout' %}">로그아웃</a>
    </div>
</div>

<!-- 팝업 -->
<div id="pop" class="pop_wrap" style="display: none;">
    <div class="pop_inner">
        <div class="pop_blank">
            <div id="title" style="font-size: 15px; font-weight: bold; float: left;"></div>
            <div id="close">
                <img src="{% static 'images/close.png' %}" style="width: 55%; height: 55%;">
            </div>
        </div>

        <div id="profile_postBox">
            <div id="profile_pPosts" class="profile_posts" style="display: none;">
                <!-- <div class="profile_horizontalHr" style="margin-bottom: 1rem;"></div> -->
                {% for post in p_post %}
                    <a href="{% url 'buyDetail' post.id %}" class="profile_list nav-link nav_change_color">{{post.title}}</a>
                    {% if not forloop.last %}
                        <!-- <div class="profile_horizontalHr" style="margin: 1rem 0;"></div> -->
                        <hr>
                    {% else %}
                        <!-- <div class="profile_horizontalHr" style="margin-top: 1rem;"></div> -->
                        <hr style="margin-bottom: 0;">
                    {% endif %}
                {% endfor %}
                <!-- <div class="profile_horizontalHr" style="margin-top: 1rem;"></div> -->
            </div>
            <div id="profile_lPosts" class="profile_posts" style="display: none;">
                <!-- <div class="profile_horizontalHr" style="margin-bottom: 1rem;"></div> -->
                {% for like in likes %}
                    <a href="{% url 'buyDetail' like.id %}" class="profile_list nav-link nav_change_color">{{like.title}}</a>
                    {% if not forloop.last %}
                        <hr>
                    {% else %}
                        <hr style="margin-bottom: 0;">
                    {% endif %}
                {% endfor %}
                <!-- <div class="profile_horizontalHr" style="margin-top: 1rem;"></div> -->
            </div>
        </div>

        <!-- 프로필 수정 -->
        <div id="profile_editBox" class="profile_posts" style="height: calc(100% - 115px); margin: 0 30px; display: none;"></div>
        <!-- <div class="pop_blank"><div id="close" class="buttonColor"><ion-icon name="close-outline" style="width: 80%; height: 80%; color: white;"></ion-icon></div></div> -->
    </div>
</div>


<!-- html 불러오기 -->
<script>
    function insertIntoPopup(url, target) {
        fetch(url)
            .then(response => {
                return response.text()
            })
            .then(data => {
                document.getElementById(target).insertAdjacentHTML("afterbegin", data);
            });
    }

    insertIntoPopup("{% url 'profileEdit' user.username %}", 'profile_editBox');
</script>

<!-- 팝업 창 스크립트 -->
<script>
    var sms = document.getElementById('sms');

    if (matchMedia("screen and (max-width: 768px)").matches) { // 768px 이하일 때
        sms.setAttribute('href', `{% url 'sms' user.username %}`);
    }
    else {
        sms.setAttribute('href', 'javascript:smsPopup()');
    }

    function smsPopup(){
        var url = `{% url 'sms' user.username %}`;
        var popHeight = 500; // 띄울 팝업창 높이   
        var popWidth = 500; // 띄울 팝업창 너비
        var winHeight = document.body.clientHeight; // 현재창의 높이
        var winWidth = document.body.clientWidth; // 현재창의 너비
        var winX = window.screenLeft; // 현재창의 x좌표
        var winY = window.screenTop; // 현재창의 y좌표
        var popX = winX + (winWidth - popWidth) / 2;
        var popY = winY + (winHeight - popHeight) / 2;

        window.open(url, '휴대폰 인증', 'top='+popY+', left='+popX+', width='+popWidth+', height='+popHeight+', scrollbars=no, resizable=no');
    }
</script>

<!-- DIV 팝업 스크립트 -->
<script>
    var myPost = document.getElementsByName('myPost');
    var myLike = document.getElementsByName('myLike');
    //var myLikesD = document.getElementById('myLikeD');
    //var myLikesM = document.getElementById('myLikeM');
    //var sms = document.getElementById('sms');
    var edit = document.getElementById('edit');

    var pop = document.getElementById('pop');
    var pBox = document.getElementById('profile_postBox');
    var eBox = document.getElementById('profile_editBox');
    //var smsAuth = document.getElementById('profile_smsAuth');
    var closeBtn = document.getElementById('close');
    var title = document.getElementById('title');
    //var post = document.getElementById('post');
    var pPosts = document.getElementById('profile_pPosts');
    var lPosts = document.getElementById('profile_lPosts');
    var background = document.getElementsByClassName('detail_container');
    
    for(i=0; i<2; i++) {
        if(myPost[i] != null) {
            myPost[i].onclick = function() {
                setPopup('block', 'block', 'none', '작성한 글', 'block', 'none');
                //var posts = document.getElementById('profile_postBox').firstChild;
                //var id = post.id;
                //var url = "{% url 'buyDetail' 1234 %}".replace(/1234/, id.toString());
                //var url = "{% url 'buyDetail' 1 %}";

                //post.setAttribute('href', `${url}`);
                //post.innerHTML = `{% for post in p_post %}<a href=${url} class="profile_list nav-link nav_change_color">{{post.title}}</a>{% endfor %}`
                //post.insertAdjacentHTML('afterbegin', `<a href=${url} class="profile_list nav-link nav_change_color">{{post.title}}</a>`);

                background[0].classList.add('blur');
                //pop.style.filter = 'blur(0)';
            };
        }

        if(myLike[i] != null) {
            myLike[i].onclick = function() {
                setPopup('block', 'block', 'none', '좋아요 누른 글', 'none', 'block');
                background[0].classList.add('blur');
            };
        }   
    }

    /*sms.onclick = function() {
        pop.style.display = 'block';
        box.style.display = 'none';
        smsAuth.style.display = 'block';

        title.textContent = '휴대폰 인증'

        background[0].classList.add('blur');
    }*/

    edit.onclick = function() {
        setPopup('block', 'none', 'block', '프로필 수정', 'none', 'none');
        background[0].classList.add('blur');
    }

    closeBtn.onclick = function() {
        setPopup('none', 'none', 'none', '', 'none', 'none');
        /*pop.style.display = 'none';
        box.style.display - 'none';
        //smsAuth.style.display = 'none';

        pPosts.style.display = 'none';
        lPosts.style.display = 'none';*/

        background[0].classList.remove('blur');
    };

    function setPopup(p, pB, eB, t, pP, lP) {
        pop.style.display = p;
        pBox.style.display = pB;
        eBox.style.display = eB;
        //smsAuth.style.display = 'none';

        title.textContent = t;
        pPosts.style.display = pP;
        lPosts.style.display = lP;
    }
</script>

{% endblock %}