{% extends 'nav.html' %}

{% block content %}

<div class="detail_container" style="max-width: 768px;">
    <table id="profile_table">
        <tr>
            <td style="width: 30px;"><img class="profile_img"></td>
            <td style="font-size: 20px; text-align: left;">
                <h3 class="profile_nick">{{user.username}}</h3>
                <!-- <h4 class="profile_text" style="font-size: 15px;">{{user.level}}</h4> -->
            </td>
        </tr>
    </table>

    <div class="profile_summary">
        <div class="profile_division">
            <div class="profile_divUpParts profile_verticalHr">레벨</div>
            <div class="profile_divDownParts profile_verticalHr">{{user.level}}</div>
        </div>
        <div class="profile_division">
            <div class="profile_divUpParts profile_verticalHr">가입일</div>
            <div class="profile_divDownParts profile_verticalHr">{{user.date_joined|date:'Y-m-d'}}</div>
        </div><div class="profile_division">
            <div class="profile_divUpParts">최근 접속일</div>
            <div class="profile_divDownParts">{{user.last_login|date:'Y-m-d'}}</div>
        </div>
    </div>

    <div class="profile_summary" style="background-color: white; padding: 0;">
        <!-- 데스크탑 -->
        <div id="profile_desktop">
            <div id="profile_myPost" class="profile_halfDiv">
                <div class="profile_divUpParts" style="padding: 17.5px 0;">작성한 글</div>
                <div class="profile_posts">
                    {% for post in p_post %}
                        <a href="{% url 'buyDetail' post.id %}" class="profile_list nav-link nav_change_color">{{post.title}}</a>
                        {% if not forloop.last %}
                            <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>
                        {% else %}
                            <div class="profile_horizontalHr" style="margin-top: 1rem;"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="profile_halfDiv">
                <div class="profile_divUpParts" style="padding: 17.5px 0;">좋아요 누른 글</div>
                <div class="profile_posts">
                    {% for like in likes %}
                        <a href="{% url 'buyDetail' like.id %}" class="profile_list nav-link nav_change_color">{{like.title}}</a>
                        {% if not forloop.last %}
                            <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>
                        {% else %}
                            <div class="profile_horizontalHr" style="margin-top: 1rem;"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>


        <!-- 모바일 -->
        <div id="profile_mobile">
            <div class="profile_halfDivM" style="margin-right: 30px;">
                <div style="width: 100%; position: absolute; top: 50%; transform: translate(0, -50%);">
                    <div class="profile_divUpParts">작성한 글</div>
                    
                    <!-- 글 수 -->
                    <div id="myPost" class="profile_divDownParts" style="font-size: 35px; line-height: 45px; padding-top: 10%;">
                        <!-- <script>var count = 0;</script>
                        {% for post in p_post %}
                            <script>count++;</script>
                        {% endfor %}
                        <script>
                            var myPost = document.getElementById('myPost');
                            myPost.textContent = count;
                        </script> -->
                        {% if p_post %}
                            {% for post in p_post %}
                                {% if forloop.last %}
                                    {{ forloop.counter }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            0
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="profile_halfDivM">
                <div style="width: 100%; position: absolute; top: 50%; transform: translate(0, -50%);">
                    <div class="profile_divUpParts">좋아요 누른 글</div>
                    
                    <!-- 글 수 -->
                    <div id="like" class="profile_divDownParts" style="font-size: 35px; line-height: 45px; padding-top: 10%;">
                        <!-- <script>count = 0;</script>
                        {% for like in likes %}
                            <script>count++;</script>
                        {% endfor %}
                        <script>
                            var like = document.getElementById('like');
                            like.textContent = count;
                        </script> -->
                        {% if likes %}
                            {% for like in likes %}
                                {% if forloop.last %}
                                    {{ forloop.counter }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            0
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>      
    </div>

    <div class="profile_summary profile_btns">
        <a class="nav-link nav_change_color" href="">프로필 수정</a>
    </div>
    
    <div id="sms" class="profile_summary profile_btns">
        <!-- <a class="nav-link nav_change_color" href="{% url 'sms' user.username %}" style="width: calc(100% - 20px); float: left;">휴대폰 인증</a> -->
        휴대폰 인증
        <!-- if 인증ㅇㅇ -->
        <ion-icon name="checkmark-circle" style="width: 20px; height: 20px; color: var(--first-color); padding-top: 1px; float: right;"></ion-icon>
        <!-- else -->
        <ion-icon name="alert-circle" style="width: 20px; height: 20px; color: var(--first-color); padding-top: 1px; float: right;"></ion-icon>
    </div>
    
    {% if user.is_staff %}
    <div class="profile_summary profile_btns">
        <a class="nav-link nav_change_color" href="{# url 'report' #}">신고보기</a>
    </div>
    {% endif %}

    <div id="profile_delete" class="profile_summary profile_btns">
        <a class="nav-link nav_change_color" href="{% url 'logout' %}">로그아웃</a>
    </div>
</div>

<!-- 팝업 -->
<!-- <div id="pop" class="pop_wrap" style="display: none;">
    <div class="pop_inner">
        <div id="title" class="profile_divUpParts" style="height: 20%; display: flex; justify-content: center; align-items: center;"></div>
        <div id="profile_postBox">
            <div id="profile_pPosts" class="profile_posts" style="display: none;">
                {% for post in p_post %}
                    <a href="{% url 'buyDetail' post.id %}" class="profile_list nav-link nav_change_color">{{post.title}}</a>
                {% endfor %}
            </div>
            <div id="profile_lPosts" class="profile_posts" style="display: none;">
                {% for like in likes %}
                    <a href="{% url 'buyDetail' like.id %}" class="profile_list nav-link nav_change_color">{{like.title}}</a>
                {% endfor %}
            </div>
        </div>
        <ion-icon name="close-circle" id="close" style="width: 30px; height: 20%; color: var(--first-color);"></ion-icon>
    </div>
</div> -->

<div id="pop" class="pop_wrap" style="display: none;">
    <div class="pop_inner">
        <div id="title" class="profile_divUpParts pop_blank"></div>
        <div id="profile_postBox">
            <div id="profile_pPosts" class="profile_posts" style="display: none;">
                <!-- <div class="profile_horizontalHr" style="margin-bottom: 1rem;"></div> -->
                {% for post in p_post %}
                    <a href="{% url 'buyDetail' post.id %}" class="profile_list nav-link nav_change_color">{{post.title}}</a>
                    {% if not forloop.last %}
                        <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>
                    {% else %}
                        <div class="profile_horizontalHr" style="margin-top: 1rem;"></div>
                    {% endif %}
                {% endfor %}
                <!-- <div class="profile_horizontalHr" style="margin-top: 1rem;"></div> -->
            </div>
            <div id="profile_lPosts" class="profile_posts" style="display: none;">
                <!-- <div class="profile_horizontalHr" style="margin-bottom: 1rem;"></div> -->
                {% for like in likes %}
                    <a href="{% url 'buyDetail' like.id %}" class="profile_list nav-link nav_change_color">{{like.title}}</a>
                    {% if not forloop.last %}
                        <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>
                    {% else %}
                        <div class="profile_horizontalHr" style="margin-top: 1rem;"></div>
                    {% endif %}
                {% endfor %}
                <!-- <div class="profile_horizontalHr" style="margin-top: 1rem;"></div> -->
            </div>
        </div>

        <div id="profile_smsAuth">
            <!-- <div style="width: calc(100% - 40px); position: absolute; top: 50%; transform: translate(0, -50%);"> -->
                <div style="height: 5%;"></div>
                <input type="text" class="profile_smsInput" placeholder="" value=""></input>
                <div style="height: 5%;"></div>
                <input type="submit" class="create_submitButton buttonColor" placeholder="" value="인증번호 전송" style="max-height: 50px; height: 17.5%;"></input>
                <div style="height: 10%;"></div>
                <input type="text" class="profile_smsInput" placeholder="" value=""></input>
                <div style="height: 5%;"></div>
                <input type="submit" class="create_submitButton buttonColor" placeholder="" value="인증번호 확인" style="max-height: 50px; height: 17.5%;"></input>
                <div style="height: 5%;"></div>
            <!-- </div> -->


















            <!-- 여기 -->























        </div>
        <div class="pop_blank"><div id="close" class="buttonColor"><ion-icon name="close-outline" style="width: 80%; height: 80%; color: white;"></ion-icon></div></div>
    </div>
</div>

<!-- 팝업 스크립트 -->
<script>
    var myPost = document.getElementById('myPost');
    var like = document.getElementById('like');
    var sms = document.getElementById('sms');

    var pop = document.getElementById('pop');
    var box = document.getElementById('profile_postBox');
    var smsAuth = document.getElementById('profile_smsAuth');
    var close_btn = document.getElementById('close');
    var title = document.getElementById('title');
    //var post = document.getElementById('post');
    var pPosts = document.getElementById('profile_pPosts');
    var lPosts = document.getElementById('profile_lPosts');
    var background = document.getElementsByClassName('detail_container');
    
    myPost.onclick = function() {
        pop.style.display = 'block';
        box.style.display = 'block';
        smsAuth.style.display = 'none';

        title.textContent = '작성한 글'
        pPosts.style.display = 'block';
        lPosts.style.display = 'none';
        //var posts = document.getElementById('profile_postBox').firstChild;
        //var id = post.id;
        //var url = "{% url 'buyDetail' 1234 %}".replace(/1234/, id.toString());
        //var url = "{% url 'buyDetail' 1 %}";

        //post.setAttribute('href', `${url}`);
        //post.innerHTML = `{% for post in p_post %}<a href=${url} class="profile_list nav-link nav_change_color">{{post.title}}</a>{% endfor %}`
        //post.insertAdjacentHTML('afterbegin', `<a href=${url} class="profile_list nav-link nav_change_color">{{post.title}}</a>`);

        background[0].classList.add('blur');
        //pop.style.filter = 'blur(0)';
    };

    like.onclick = function() {
        pop.style.display = 'block';
        box.style.display = 'block';
        smsAuth.style.display = 'none';

        //var title = document.getElementById('title');
        title.textContent = '좋아요 누른 글'
        pPosts.style.display = 'none';
        lPosts.style.display = 'block';

        //var post = document.getElementById('post');
        //var id = like.id
        //var url = "{% url 'buyDetail' 0 %}".replace(/0/, id.toString());

        //post.setAttribute('href', `${url}`);
        background[0].classList.add('blur');
    };

    sms.onclick = function() {
        pop.style.display = 'block';
        box.style.display = 'none';
        smsAuth.style.display = 'block';

        title.textContent = '휴대폰 인증'

        background[0].classList.add('blur');
    }

    //myPost.onclick = function() {
    //    document.getElementById('pop').style.display = 'block';
    //};

    close_btn.onclick = function() {
        pop.style.display = 'none';
        box.style.display - 'none';
        smsAuth.style.display = 'none';

        pPosts.style.display = 'none';
        lPosts.style.display = 'none';

        background[0].classList.remove('blur');
    };
</script>


<!-- <div class="detail_container">
    <table style="width: 900px; margin: 20px auto 40px auto;">
        <tr>
            <td style="width: 60px; padding: 0 0 15px 2px;"><img class="profile_img"></td>
            <td style="font-size: 20px; text-align: left; padding-bottom: 15px;">
                <h3 class="chat_list_text">{{user.username}}</h3>
                <h4 class="chat_list_text" style="font-size: 17px;">{{user.username}}</h4>
            </td>
        </tr>
    </table>

    <div class="detail_division_t">
        <table class="division_table">
            <tr>
                <td class="detail_td">
                    <div style="padding-top: 5px;">레벨</div>
                    <div style="margin-top: 10px; font-size: 30px;">{{user.level}}</div>
                </td>
                <td class="detail_td, detail_table_line">
                    <div style="padding-top: 5px;">최근 방문일</div>
                    <div style="margin-top: 10px; font-size: 30px;">{{user.last_login.date}}</div>
                </td>
                <td class="detail_td">
                    <div style="padding-top: 5px;">휴대폰 인증 여부</div>

                    <div style="margin-top: 10px; font-size: 30px;">미인증</div>
                </td>
        </table>        
    </div>
    
    <div style="width: 900px; position: absolute;">
        <div class="profile_half_division" style="margin-right: 30px;">
            <div class="half_division_title">작성한 거래 글</div>
            <hr style="margin: 0;">
            <div class="half_division_info">
                {% for post in p_post %}
                    <br><a href="{% url 'buyDetail' post.id %}" class="profile_list nav-link nav_change_color">{{post.title}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="profile_half_division">
            <div class="half_division_title">좋아요한 글</div>
            <hr style="margin: 0;">
            <div class="half_division_info">
                {% for like in likes %}
                    <br><a href="{% url 'buyDetail' like.id %}" class="profile_list nav-link nav_change_color">{{like.title}}</a>
                {% endfor %}
            </div>
        </div>
        <div style="clear: both;"></div>
        
        <div class="detail_division">
            <a class="nav-link nav_change_color fw-bold" href="{% url 'logout' %}">프로필 수정</a>    
        </div>

        <div class="detail_division">
            <a class="nav-link nav_change_color fw-bold" href="{% url 'logout' %}">상세정보</a>    
        </div>

        <div class="detail_division">
            <a class="nav-link nav_change_color fw-bold" href="{% url 'logout' %}">로그아웃</a>    
        </div>
        
        <div class="detail_division">
            <a class="nav-link nav_change_color fw-bold" href="{% url 'logout' %}">회원 탈퇴</a>    
        </div>
    </div>
</div> -->
{% endblock %}