{% extends 'nav.html' %}

{% block content %}

<style>
    #profile_accuseBox html, body {
        height: 100%;
    }
    #profile_accuseBox #content__blur {
        height: 100%;   
    }
</style>

<form method="POST" role="form" action="{% url 'reportUser' user.username %}" style="height: 100%;">
    {% csrf_token %}
    <!-- {{form}} -->
    <textarea class="detail_context report_textarea" type="text" name="content" placeholder="내용을 입력하세요." cols=50 rows=10></textarea>
    <input class="create_submitButton buttonColor" type="submit" value="확인" style="margin-top: 50px;">
</form>

{% endblock %}