{% extends 'nav.html' %}

{% block content %}

<style>
    .header {
        display: none;
    }
</style>

<form action="{% url 'sendsms' user.username %}" method="POST">
    {% csrf_token %}
    {{smsform.phone_number}}
    <input type="submit" value="전송" >
</form>
<form action="{% url 'checksms' user.username %}" method="POST">
    {% csrf_token %}
    {{checksmsform.auth_number}}
    <input type="submit" value="인증">
</form>

{% if messages %}
    <div>
        {%for message in messages %}
            {{message.message}}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}