{% extends 'nav.html' %}

{% block content %}

<style>
    .header {
        display: none;
    }
    /*@media screen and (width: 500px) {
        .header {
            display: none;
        }
    }*/
    body {
        padding: 0;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    body::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera*/
    }
    footer {
        display: none;
    }
    @media screen and (max-width: 768px) {
        html, body {
            height: 100%;
        }
        #content__blur {
            height: 100%;
        }
    }
</style>

<div style="height: 100%; padding: 30px;">
    <div style="font-size: 15px; font-weight: bold; margin-bottom: 30px; padding-left: 2.5px;">휴대폰 인증</div>
    <form action="{% url 'sendsms' user.username %}" method="POST">
        {% csrf_token %}
        {{smsform.phone_number}}
        <input class="create_submitButton buttonColor" type="submit" value="인증번호 전송" style="margin-bottom: 30px;">
    </form>
    <form action="{% url 'checksms' user.username %}" method="POST">
        {% csrf_token %}
        {{checksmsform.auth_number}}
        <input class="create_submitButton buttonColor" type="submit" value="인증번호 확인">
    </form>

    <div style="height: calc(100% - 362.5px); font-size: 13px; line-height: 30px;">
        {% if messages %}
            {%for message in messages %}
                {{message.message}}
            {% endfor %}
        {% endif %}
    </div>

    <button id="popClose" class="create_submitButton buttonColor" style="line-height: 50px; text-align: center; ">닫기</button>
</div>

<script>
    var popClose = document.getElementById('popClose');

    popClose.onclick = function() {
        window.close();
        window.history.back()
    };
</script>

{% endblock %}