{% extends 'nav.html' %}

{% block content %}
{% load static %}

<!-- {{user.username}} 의 프로필 -->
<!-- 레벨{{user.level}} -->
<!-- 최근접속일{{user.last_login.date}} -->
<!-- 가입일{{user.date_joined.date}} -->
<!-- 
<br>
{{user.username}}이 작성한 글
{% for post in posts %}
    <a href="{% url 'buyDetail' post.id %}">{{post.title}}</a>
{% endfor %}
<br>
<a href="">신고하기</a> -->

<script>
    function insertIntoPopup(url, target) {
        fetch(url)
            .then(response => {
                return response.text()
            })
            .then(data => {
                document.getElementById(target).insertAdjacentHTML("afterbegin", data);
            });
    }

    insertIntoPopup("{% url 'review' profileuser.username %}", 'profile_reviewBox');
    insertIntoPopup("{% url 'reportUser' profileuser.username %}", 'profile_accuseBox');
</script>

<div class="detail_container" style="max-width: 768px;">
    <table id="profile_table">
        <tr>
            <td style="width: 30px;"><img class="profile_img"></td>
            <td style="font-size: 20px; text-align: left;">
                <h3 class="profile_nick">{{profileuser.username}}</h3>
                <!-- <h4 class="profile_text" style="font-size: 15px;">{{user.level}}</h4> -->
            </td>
        </tr>
    </table>

    <div class="profile_summary">
        <div class="profile_division">
            <div class="profile_divUpParts profile_verticalHr">레벨</div>
            <div class="profile_divDownParts profile_verticalHr">{{profileuser.level}}</div>
        </div>
        <div class="profile_division">
            <div class="profile_divUpParts profile_verticalHr">가입일</div>
            <div class="profile_divDownParts profile_verticalHr">{{profileuser.date_joined|date:'Y-m-d'}}</div>
        </div><div class="profile_division">
            <div class="profile_divUpParts">휴대폰 인증</div>
            <!-- <div class="profile_divDownParts">{{user.last_login|date:'Y-m-d'}}</div> -->
            <div class="profile_divDownParts">미인증</div>
        </div>
    </div>
    <div class="profile_summary" style="background-color: white; padding: 0;">
        <!-- 데스크탑 -->
        <div id="profile_desktop">
            <div id="profile_myPost" class="profile_halfDiv" style="width: calc(calc(100% - 40px) - 250px);">
                <div class="profile_divUpParts" style="padding: 17.5px 0;">작성한 글</div>
                <div class="profile_posts" style="height: 170px;">
                    <!-- {% for post in posts %}
                        <a href="{% url 'buyDetail' post.id %}" class="profile_list nav-link nav_change_color">{{post.title}}</a>
                    {% endfor %} -->
                    {% for post in posts %}
                        {% if forloop.counter <= 3 %}
                            <a href="{% url 'buyDetail' post.id %}" class="profile_list nav-link nav_change_color">{{post.title}}</a>
                            {% if not forloop.last %}
                                <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>
                            {% else %}
                                <div class="profile_horizontalHr" style="margin-top: 1rem;"></div>
                            {% endif %}
                        {% elif forloop.counter == 4 %}
                            <div name="myPost" style="font-size: 12.5px; text-align: center;">더보기</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="profile_halfDiv" style="width: 250px; padding: 0; position: relative;">
                <div style="width: 100%; position: absolute; top: 50%; transform: translate(0, -50%);">
                    <div class="profile_divUpParts">사용자 평가</div>
                    <div name="rating" class="profile_divDownParts" style="font-size: 35px; line-height: 45px; padding-top: 10%;">★ 0.0</div>
                    <!-- <div class="profile_posts">
                        {% for review in profileuser.ID.all %}
                            <p class="profile_list nav-link nav_change_color">{{review.rating}} /{{review.content}}</p>
                        {% endfor %}
                    </div> -->
                </div>
            </div>
        </div>
                 
        <!-- 모바일 -->
        <div id="profile_mobile">
            <div class="profile_halfDivM" style="margin-right: 20px;">
                <div style="width: 100%; position: absolute; top: 50%; transform: translate(0, -50%);">
                    <div class="profile_divUpParts">작성한 글</div>
                    
                    <!-- 글 수 -->
                    <div name="myPost" class="profile_divDownParts" style="font-size: 35px; line-height: 45px; padding-top: 10%;">
                        {% if posts %}
                            {% for post in posts %}
                                {% if forloop.last %}
                                    {{ forloop.counter }}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            0
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="profile_halfDivM">
                <div style="width: 100%; position: absolute; top: 50%; transform: translate(0, -50%);">
                    <div class="profile_divUpParts">사용자 평가</div>
                    <div name="rating" class="profile_divDownParts" style="font-size: 35px; line-height: 45px; padding-top: 10%;">★ 0.0</div>
                </div>
            </div>
        </div>      
    </div>

    <div id="review" class="profile_summary profile_btns">
        {% if user in profileuser.Review_set.all %} 리뷰수정하기
        {% else %} 리뷰하기
        {% endif %}
        <!-- <a class="nav-link nav_change_color" href="{% url 'review' profileuser.username %}">리뷰남기기</a> -->
    </div>
    
    <div class="profile_summary profile_btns">
        <a class="nav-link nav_change_color" href="">들어가야 할까</a>
    </div>

    <div id="accuse" class="profile_summary profile_btns profile_delete">
        신고하기
        <!-- <a class="nav-link nav_change_color" href="{% url 'reportUser' profileuser.username %}">신고하기</a> -->
    </div>
</div>


<!-- 팝업 -->
<div id="pop" class="pop_wrap" style="display: none;">
    <div class="pop_inner">
        <div class="pop_blank">
            <div id="title" style="font-size: 15px; font-weight: bold; line-height: 25px; float: left;"></div>
            <div id="close">
                <img src="{% static 'images/close.png' %}" style="width: 55%; height: 55%;">
            </div>
        </div>

        <div id="profile_postBox">
            <div id="profile_pPosts" class="profile_posts" style="display: none;">
                <!-- <div class="profile_horizontalHr" style="margin-bottom: 1rem;"></div> -->
                {% for post in posts %}
                    <a href="{% url 'buyDetail' post.id %}" class="profile_list nav-link nav_change_color">{{post.title}}</a>
                    {% if not forloop.last %}
                        <hr>
                    {% else %}
                        <hr style="margin-bottom: 0;">
                    {% endif %}
                {% endfor %}
                <!-- <div class="profile_horizontalHr" style="margin-top: 1rem;"></div> -->
            </div>
            <div id="profile_rPosts" class="profile_posts" style="display: none;">
                {% for review in profileuser.ID.all %}
                    <p class="profile_list nav-link nav_change_color">★ {{review.rating}} / {{review.content}}</p>
                    {% if not forloop.last %}
                        <hr>
                    {% else %}
                        <hr style="margin-bottom: 0;">
                    {% endif %}
                {% endfor %}
            </div>
        </div> 

        <!-- 리뷰남기기 -->
        <div id="profile_reviewBox" class="profile_posts" style="height: calc(100% - 115px); display: none;"></div>

        <!-- 신고하기 -->
        <div id="profile_accuseBox" class="profile_posts" style="height: calc(100% - 115px); display: none;"></div>
        <!-- <div class="pop_blank"><div id="close" class="buttonColor"><ion-icon name="close-outline" style="width: 80%; height: 80%; color: white;"></ion-icon></div></div> -->
    </div>
</div>

<!-- 팝업 스크립트 -->
<script>
    var myPost = document.getElementsByName('myPost');
    var rating = document.getElementsByName('rating');
    var review = document.getElementById('review');
    var accuse = document.getElementById('accuse');

    var pop = document.getElementById('pop');
    var pBox = document.getElementById('profile_postBox');
    var rBox = document.getElementById('profile_reviewBox');
    var aBox = document.getElementById('profile_accuseBox');
    var closeBtn = document.getElementById('close');
    var title = document.getElementById('title');
    //var post = document.getElementById('post');
    var pPosts = document.getElementById('profile_pPosts');
    var rPosts = document.getElementById('profile_rPosts');
    var background = document.getElementsByClassName('detail_container');
    
    for(i=0; i<2; i++) {
        if(myPost[i] != null) {
            myPost[i].onclick = function() {
                setPopup('block', 'block', 'none', 'none', '작성한 글', 'block', 'none');
                /*pop.style.display = 'block';
                pBox.style.display = 'block';
                rBox.style.display = 'none';
                aBox.style.display = 'none';

                title.textContent = '작성한 글';
                pPosts.style.display = 'block';
                rPosts.style.display = 'none';*/

                background[0].classList.add('blur');
            };
        }
        
        if(rating[i] != null) {
            rating[i].onclick = function() {
                setPopup('block', 'block', 'none', 'none', '사용자 평가', 'none', 'block');
                background[0].classList.add('blur');
            };
        }
    }

    review.onclick = function() {
        setPopup('block', 'none', 'block', 'none', '사용자 평가 작성', 'none', 'none');
        background[0].classList.add('blur');
    };

    accuse.onclick = function() {
        setPopup('block', 'none', 'none', 'block', '신고하기', 'none', 'none');
        background[0].classList.add('blur');
    };

    closeBtn.onclick = function() {
        setPopup('none', 'none', 'none', 'none', '', 'none', 'none');
        background[0].classList.remove('blur');
    };

    function setPopup(p, pB, rB, aB, t, pP, rP) {
        pop.style.display = p;
        pBox.style.display = pB;
        rBox.style.display = rB;
        aBox.style.display = aB;

        title.textContent = t;
        pPosts.style.display = pP;
        rPosts.style.display = rP;
    }
</script>

{% endblock %}