{% extends 'nav.html' %}

{% block content %}
{% load static %}

<style>
  .header, footer {
    display: none;
  }
  body {
    padding: 0;
  }
  #content__blur {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="password_container">
  <div>
    <!-- <br /> -->
    <div class="password_title">내 계정 찾기</div>
    <div class="password_exp">아이디와 비밀번호를 메일로 발송합니다.</div>
    <!-- <br /> -->
    <form method="post" action="{% url 'password_reset' %}">
      {% csrf_token %}
      <div class="password_email">{{ form.as_p }}</div>
      <button class="create_submitButton buttonColor" type="submit">메일 보내기</button>
    </form>
  </div>
</div>
{% endblock %}