{% extends 'nav.html' %}

{% block content %}
{% load static %}
    <div class="password_reset_background">
      <div class="password_reset_done_body">
        <div class="password_reset__logo">
          <!-- <a href="/"><img class="crossoff_logo" src="{% static 'img/favicon.png' %}" alt="logo"></a> -->
        </div>
        <!-- <br /> -->
        <h2>메일 보내기 완료</h2>
        <h5>메일을 확인해주세요.</h5>
        <!-- <br /> -->
        <button onclick="location.href ='/accounts/login'">
          로그인 하러가기
        </button>
      </div>
    </div>
    {% endblock %}