{% extends 'nav.html' %}

{% block content %}
{% load static %}

<style>
  .header, footer {
    display: none;
  }
  body {
    padding: 0;
  }
  #content__blur {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="password_container">
  <div style="width: 100%;">
    <div class="password_title">로그인 화면으로 이동</div>
    <div class="password_exp">메일을 확인한 후 로그인 해주세요.</div>
    <!-- <br /> -->
    <!-- <div style="overflow: hidden;">
      <div class="password_buttonExp">로그인 화면으로 이동하기</div>
      <button class="detail_likeButton buttonColor" onclick="location.href ='/accounts/login'" style="margin: 0; float: left;">▶</button>
    </div> -->
    <button class="detail_likeButton buttonColor" onclick="location.href ='/accounts/login'" style="margin: 0; float: right;">▶</button>
  </div>
</div>
{% endblock %}