
<style>
    .btn_area {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    }

</style>

<script>
function createChat(){
    alert('채팅방 생성완료');
}
</script>


{% if post.check_chat == False %} 
    <button disabled="true" class="create_submitButton buttonColor" type="button" id="createChatButton" style="margin-top: 50px;">
        <a href="#" style="text-decoration: none; color: white;">채팅방 생성 완료</a>
    </button>
{% else %}
    <button onClick="createChat()" class="create_submitButton buttonColor" type="button" id="createChatButton" style="margin-top: 50px;">
        <a href="{% url 'createChannel' post.id %}" style="text-decoration: none; color: white;">채팅방 생성</a>
    </button>
{% endif %}

{% extends 'nav.html' %}

{% block content %}

<script>
    function createChat(){
        alert('채팅방 생성완료');
    }
</script>

<button onClick="createChat()" class = "btn_area btn btn-danger" type="button" id = "createChatButton" >
    <a href="{% url 'createChannel' post.id %}" style="text-decoration: none; color: white;">채팅방 생성</a>
</button>
{% endif %}

{% endblock %}