{% extends 'nav.html' %}

{% block content %}
{% load static %}

<div class="detail_container">
    <!-- 이건 네비바 밑에 -->
    <div class="detail_nav">
        {%if detail.ID.id == user.id%}
            <a href="{% url 'buyDelete' detail.id %}" class="detail_navEle">삭제</a>
            <a href="{% url 'buyEdit' detail.id %}" class="detail_navEle">수정</a>
            <a href="{% url 'buyDelete' detail.id %}" class="detail_navEle">신고</a>
        {% endif %}
    </div>
    <div style="clear: both;"></div>

    <!-- 사진 -->
    {% if detail.photo %}
        <!-- <img src="{{ detail.photo.url }}" alt="" class="detail_img"> -->
        <div class="detail_img" style="background-image: url('{{ detail.photo.url }}');"></div>
    {% endif %}
    <!-- {% if detail.photo %}
        <img src="{{ detail.photo.url }}" alt="" class="detail_img">
    {% else %}
        <img alt="" class="detail_img">
    {% endif %} -->


    <!-- 내용 -->
    <div class="detail_main">
        {%if detail.category == 0 %}
            <h5 class="detail_category">거래게시판/식재료</h5>
        {%elif detail.category == 1 %}
            <h5 class="detail_category">거래게시판/생필품</h5>
        {%elif detail.category == 2 %}
            <h5 class="detail_category">거래게시판/OTT</h5>
        {%elif detail.category == 3 %}
            <h5 class="detail_category">거래게시판/배달</h5>
        {%endif%}
        <h1 class="detail_title">{{detail.title}}</h1>
        <h3 class="detail_price">{{detail.price}}원</h3>
        <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>
        <table>
            <tr>
                <td style="width: 30px;"><img class="detail__lev"></td>
                <td><a href="{% url 'userProfile' detail.ID.username %}" class="detail_usrname nav-link nav_change_color">{{detail.ID.username}}</a></td>
            </tr>
        </table>
        
        <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>

        <table>
            <tr>
                <td><ion-icon name="location" style="color: var(--first-color); margin: 0 5px -1.5px 0;"></ion-icon></td>
                <td><h3 class="detail_loca_time">{{detail.location}}</h3></td>
                <p style="display: none;" id="lat">{{detail.lat}}</p>
                <p style="display: none;" id="long">{{detail.long}}</p>
            </tr>   
            <tr>
                <td><ion-icon name="time" style="color: var(--first-color); margin: 0 5px -2px 0;"></ion-icon></td>
                <td><h3 class="detail_loca_time">{{detail.date|date:'m월d일 H:i'}}</h3></td>
            </tr>
        </table>

        <div class="profile_horizontalHr" style="margin: 1rem 0;"></div>
        
        <div style="font-size: 10px; font-weight: 100; text-align: right; color: gray; margin-top: -3px;">작성일 : {{detail.writeDate|date:'m-d H:i'}}</div>
        <p class="detail_context">{{detail.body}}</p>
        
        <div class="detailBtns">
            <form class="detailLikeForm"action="{% url 'addBookmark' detail.id %}" method="post">
                {% csrf_token %}

                {% if user in detail.like_users.all %}
                    <input type="submit" value="♥&#10;{{detail.like_count}}" class="detail_likeButton buttonColor">
                {% else %}
                    <input type="submit" value="♡&#10;{{detail.like_count}}" class="detail_likeButton buttonColor">
                {% endif %}
            </form>
            <!-- <div style="font-size: 20px; margin-top: -7px; margin-bottom: 10px;">{{detail.join_count}}/{{detail.wpeople}}</div> -->
            {% if detail.ID.id == user.id %}
                <button class="detail_applyButton buttonColor">
                    <a href="{% url 'auth' detail.id %}" style="text-decoration: none; color: white;">신청자 보기</a>
                </button>
            {% else  %}
                {% if user in detail.join_users.all %}
                <button class="detail_applyButton buttonColor" id="joinBtn" onClick="alert('취소 되었습니다.')">
                    <a href="{% url 'join' detail.id %}" style="text-decoration: none; color: white;">취소하기</a>
                </button>
                {% else %}
                <button class="detail_applyButton buttonColor" id="joinBtn" onClick="alert('참가 신청 되었습니다.')">
                    <a href="{% url 'join' detail.id %}" style="text-decoration: none; color: white;">참가하기</a>
                </button>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <!-- 지도 -->
    <div id="map" class="detail_map"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bd4feb6026338d2f553dadbd615a5509"></script>
    <script>
        const lat = document.querySelector('#lat')
        const long = document.querySelector('#long')
        console.log(lat.innerHTML)
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(lat.innerHTML, long.innerHTML), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
        
        var markerPosition  = new kakao.maps.LatLng(lat.innerHTML, long.innerHTML); 

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            position: markerPosition
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);
    </script>

</div>
{% endblock %}