{% extends 'nav.html' %}

{% block content %}
{% load static %}

<div class="detail_container">
    <!-- 사진 -->
    {% if detail.photo %}
        <img src="{{ detail.photo.url }}" alt="" class="detail_img">
    {% endif %}

    <!-- 지도 -->
    <!-- <div class="detail_map">
        지도
    </div> -->
    
    <!-- 이건 네비바 밑에 -->
    <!-- {%if detail.ID.id == user.id%}
    <a href="{% url 'buyDelete' detail.id %}">삭제</a>
    <a href="{% url 'buyEdit' detail.id %}">수정</a>
    {% endif %} -->

    <!-- 사진 -->
    <!-- {% if detail.photo %}
        <img src="{{ detail.photo.url }}" alt="" class="detail_img">
    {% else %}
        <img alt="" class="detail_img">
    {% endif %} -->
    
    <!-- 내용 -->
    <div class="detail_main">
        <h5 class="detail_category">거래게시판/해당 카테고리명</h5>
        <h1 class="detail_title">{{detail.title}}</h1>
        <h3 class="detail_price">{{detail.price}}원</h3>
        <hr>
        <table>
            <tr>
                <td style="width: 30px;"><img class="detail_lev" style="margin-left: -1px;"></td>
                <td><h3 style="font-size: 20px; margin: 0;">{{detail.ID.username}}</h3></td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <td><img src="{%static 'images/location.png' %}" style="width: 20px; height: 20px; margin: 0 0 4px -4.5px;"></td>
                <td><h3 class="detail_loca_time">{{detail.location}}</h3></td>
            </tr>
            <tr>
                <td><img src="{%static 'images/clock.png' %}" style="width: 20px; height: 20px; margin: -7px 0 0 -0.5px; padding: 4px 8px 4px 0;"></td>
                <td><h3 class="detail_loca_time">{{detail.date}}</h3></td>
            </tr>
        </table>
        <hr>
        <div style="font-size: 10px; text-align: right; margin-top: -3px;">작성일 : {{detail.writeDate}}</div>
        <p class="detail_context">{{detail.body}}</p>
        
        <div>
            <input type="button" value="❤&#10;{{detail.good}}" class="detail_likeButton">

            {% if detail.ID.id == user.id %}
                <button class="detail_applyButton">
                    <a href="{# url 'auth' #}" style="text-decoration: none; color: white;">신청자 보기</a>
                </button>
            {% else  %}
                <button class="detail_applyButton" id="joinBtn" onClick="alert('참가 신청 되었습니다.')">
                    <a href="{# url 'join' user.userID #}" style="text-decoration: none; color: white;">참가하기</a>
                </button>
            {% endif %}
        </div>
    </div>

    <!-- 지도 -->
    <div id="map" class="detail_map"></div>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bd4feb6026338d2f553dadbd615a5509"></script>
    <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = { 
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        var mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);
    </script>

</div>
{% endblock %}