{% extends 'nav.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style3.css' %}?after">

<div class="detail_container" style="position: relative;">

  <!-- <div class="category__menu" style="position: relative;"> 
    <div class="category-item">
      <a href="{% url 'buyHome' %}">전체</a>
    </div>
    <div class="category-item">
      <a href="{% url 'category' 'food' %}">식료품</a>
    </div>
    <div class="category-item">
      <a href="{% url 'category' 'necessity' %}">생필품</a>
    </div>
    <div class="category-item">
      <a href="{% url 'category' 'ott' %}">OTT</a>
    </div>
    <div class="category-item">
      <a href="{% url 'category' 'delivery' %}">배달</a>
    </div>
  </div> -->

 <div class="catext-center category__menu" style="position: relative;">
    <nav class="style-4">
      <ul class="menu-4">
        <li class="current"><a href="{% url 'buyHome' %}" data-hover="전체">전체</a></li>
        <li><a href="{% url 'category' 'food' %}" data-hover="식료품">식료품</a></li>
        <li><a href="{% url 'category' 'necessity' %}" data-hover="생필품">생필품</a></li>
        <li><a href="{% url 'category' 'ott' %}" data-hover="OTT">OTT</a></li>
        <li><a href="{% url 'category' 'delivery' %}" data-hover="배달">배달</a></li>
      </ul>
    </nav>
 </div>


  <!-- <div class="searchForm"> -->
    <!-- 정렬 -->

    <!-- <select id="sort-select" class="select_box" onchange="location = this.value;">
      <option class="sort-date option_1" value="?sort=date">최신순</option>
      <option class="sort-likes" value="?sort=likes">좋아요순</option>
      <option class="sort-likes" value="?sort=lowprice">낮은가격순</option>
      <option class="sort-likes" value="?sort=highprice">높은가격순</option>
    </select> -->
    <!-- 정렬 -->    

  <!-- </div> -->

 <!-- 검색창 --> 
  {% if posts %}
  {% if q %}
    <h5>'{{q}}' 검색결과입니다.</h5>
    {% endif %}

  <!-- 게시글 출력 -->
  <!-- <div class="container">
    <div class="row row-cols-3"> 
  {% for post in posts %}
  <article class="card col">
    <header class="card__thumb">
      {% if post.photo %}
      <img src="{{ post.photo.url }}" alt="">
      {% else %}
      <img src="https://s.aolcdn.com/images/dims?client=fh7w6q744eiognjk&signature=d59d0cf6af1d779a3dca451e0ba259c33bbc6115&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fos%2Fab%2F_cms%2F2019%2F08%2F30142658%2F2020-jeep-wrangler-16.jpg&thumbnail=750%2C422&quality=80" alt="" />
      {% endif %}
    </header>
    <div class="card__body">
      <a href="{% url 'buyDetail' post.id %}">
        <div class="card__ing__container">
          <div class="card__category">카테고리</div>
          <div class="card__ing">모집중</div>
          <div class="card__finish">마감임박</div>
        </div>
        <div class="card__title">{{post.title}}</div>
        <div class="card__price">{{post.price}}원/1인</div>
        <p class="card__description">{{post.body}}</p>
      </a>
    </div>
    <footer class="card__footer">
      <ion-icon class="time__icon" name="time-outline"></ion-icon><span class="icon"></span> {{post.date|date:'m/d H:i'}}</span>
      <ion-icon class="place__icon" name="location-outline"></ion-icon><span class="icon icon--comment"> {{post.location}}</span>
    </footer>
  </article>
  {% endfor %}
    </div>
  </div> -->


    <!-- 게시글 출력 -->
    {% for post in posts %}
    <div class="card">
      <div class="inner-card"> 
        {% if post.photo %}
        <img src="{{ post.photo.url }}" class="img-fluid rounded">
        {% else %}
        <img src="https://s.aolcdn.com/images/dims?client=fh7w6q744eiognjk&signature=d59d0cf6af1d779a3dca451e0ba259c33bbc6115&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fos%2Fab%2F_cms%2F2019%2F08%2F30142658%2F2020-jeep-wrangler-16.jpg&thumbnail=750%2C422&quality=80" alt="" class="img-fluid" />
        {% endif %}
          <div class="d-flex justify-content-between align-items-center mt-3 px-2">
              <h4>{{post.title}}</h4> <span class="heart"><i class="fa fa-heart"></i></span>
          </div>
          <div class="mt-2 px-2"> <small>{{post.body}}</small> </div>
          <div class="px-2">
              <h3>{{post.price}}원/1인</h3>
          </div>
          <div class="px-2 mt-3"><a href="{% url 'buyDetail' post.id %}"><button class="btn btn-primary px-3">상세보기</button></a></div>
      </div>
    </div>
    {% endfor %}

    <!-- 게시글 출력 -->
    {% for post in posts %}
    <section class="module">
      <div class="buy-container">
        <div class="row multi-columns-row post-columns">
          <div class="col-sm-6 col-md-4 col-lg-4 flex">
            <div class="post flex-item">
              <div class="post-thumbnail"><a href="{% url 'buyDetail' post.id %}">{% if post.photo %}<img src="{{ post.photo.url }}" alt="Blog-post Thumbnail"/>
                {% else %}<img src="https://s.aolcdn.com/images/dims?client=fh7w6q744eiognjk&signature=d59d0cf6af1d779a3dca451e0ba259c33bbc6115&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fos%2Fab%2F_cms%2F2019%2F08%2F30142658%2F2020-jeep-wrangler-16.jpg&thumbnail=750%2C422&quality=80" alt="Blog-post Thumbnail"/>
                {% endif %}</a></div>
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="{% url 'buyDetail' post.id %}">{{post.title}}</a></h2>
                <div class="post-meta">By&nbsp;<a href="#">{{post.ID.username}}</a>&nbsp;| {{post.date}} | 좋아요 {{post.like_count}}
              </div>
              <div class="post-entry">
                <p>{{post.body}}</p>
              </div>
              <div class="post-more"><a class="more-link" href="{% url 'buyDetail' post.id %}">Read more</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endfor %}

    <div class="pagination font-alt"><a href="#"><i class="fa fa-angle-left"></i></a><a class="active" href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#"><i class="fa fa-angle-right"></i></a></div>

  </div>

 
  {% else %}
  <!-- 출력할 게시글이 없을때  -->
  {% if q %}
  <!-- 검색 결과 없을 경우  -->
   {% if q|length == 1 %}
  <h5>검색어는 2자 이상 입력해주세요</h5>
  {% else %}
  <h5>'{{q}}'와 일치하는 검색 결과가 없습니다.</h5>
  {% endif %}
  {% else %}
  <h5> 작성된 게시글이 없습니다. </h5>
  {% endif %}
  {% endif %}

  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-3 p-2 purbd_home_div">
      {%if posts.has_previous%}
      <a class="listbutton" href="?page=1"><button type="button" class="btn btn-dark">첫 번째
          페이지</button></a>&nbsp&nbsp&nbsp
      {%endif%}
      {%if posts.has_next%}
      <a href="?page={{posts.next_page_number}}"><button type="button"
          class="btn btn-dark">다음</button></a>&nbsp&nbsp&nbsp
      {%endif%}
      <div style="text-align:center;">
        <span>{{posts.number}}&nbsp</span>
        <span>/&nbsp&nbsp{{posts.paginator.num_pages}}</span>
      </div>
      {%if posts.has_previous%}
      <a href="?page={{posts.previous_page_number}}"><button type="button"
          class="btn btn-dark">이전</button></a>&nbsp&nbsp&nbsp
      {%endif%}
      {%if posts.has_previous%}
      <a class="listbutton" href="?page={{posts.previous_page_number}}"><button type="button" class="btn btn-dark">마지막
          페이지</button></a>
      {%endif%}
    </div>
  </div>

  <div class="map_btn_container">
    <button class="map_button"><i class="fa-sharp fa-solid fa-location-dot"></i></button>
  </div>

  <div class="wirte_btn_container">
  
    <div class="abroad-primary-button abroad-button">
      <div><i class="fas fa-plus"></i></div>
    </div>
    
    <div class="abroad-secondary-button abroad-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="식료품">
      <div><i class="fa-sharp fa-solid fa-apple-whole"></i></div>
    </div>
    
    <div class="abroad-secondary-button abroad-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="생필품">
      <div><i class="fa-solid fa-box-tissue"></i></div>
    </div>

    <div class="abroad-secondary-button abroad-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="OTT">
      <div><i class="fa-solid fa-circle-play"></i></div>
    </div>

    <div class="abroad-secondary-button abroad-button" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="배달"> 
      <div><i class="fa-solid fa-motorcycle"></i></div>
    </div>

  </div>

</div>
{% endblock %}