<!-- slidebar Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% extends 'nav.html' %}

{% block content %}
{% load static %}

<div class="detail_container">

  <div class="category__menu" style="position: relative;"> 
    <div class="category-item">
      <a href="#">전체</a>
    </div>
    <div class="category-item">
      <a href="#">식료품</a>
    </div>
    <div class="category-item">
      <a href="#">생필품</a>
    </div>
    <div class="category-item">
      <a href="#">OTT</a>
    </div>
    <div class="category-item">
      <a href="#">배달</a>
    </div>

  </div>

  <div>
    <form class="searchForm"action="" method="GET">
      {% csrf_token %}
      <input type="text" placeholder="search" name="q">
      <button type="submit">검색</button>
    </form>
    {% if q %}
    <h5>'{{q}}' 검색결과입니다.</h5>
    {% endif %}
  </div>
  <!-- <ul id=""> 
    <li><a href="{% url 'buyHome' %}">전체</a></li>
    <li><a href="{% url 'category' 'necessity' %}">생필품</a></li>
    <li><a href="{% url 'category' 'food' %}">식료품</a></li>
    <li><a href="{% url 'category' 'ott' %}">OTT</a></li>
    <li><a href="{% url 'category' 'delivery' %}">배달</a></li>
  </ul> -->
  {% for post in posts %}
  <article class="card">
		<header class="card__thumb">
			<a href="{% url 'buyDetail' post.id %}"><img src="https://images.unsplash.com/photo-1512466699224-9d8217244131?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4b6f389eb54cb8e27ee8ee5d4040a5d7&dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb" ></a>
		</header>
		<div class="card__body">
      <div class="card__ing__container">
        <div class="card__category"><a href="#">카테고리</a></div>
        <div class="card__ing"><a href="#">모집중</a></div>
        <div class="card__finish"><a href="#">마감임박</a></div>
      </div>
			<div class="card__title"><a href="#">{{post.title}}</a></div>
			<div class="card__price">{{post.price}}원 / 1인</div>
			<p class="card__description">{{post.body}}</p>
		</div>
		<footer class="card__footer">
			<span class="icon icon--time">{{post.date|date:'m월d일 H:i'}}</span>
			<span class="icon icon--comment"><a href="#">{{post.location}}</a></span>
		</footer>
	</article>
  {% endfor %}

  <div class="fab-wrapper">
    <input id="fabCheckbox" type="checkbox" class="fab-checkbox" />
    <label class="fab" for="fabCheckbox">
      <span class="fab-dots fab-dots-1">+</span>
      <span class="fab-dots fab-dots-3">+</span>
    </label>
    <div class="fab-wheel">
      <a class="fab-action fab-action-1">
        <i class="fas fa-question"></i>
      </a>
      <a class="fab-action fab-action-2">
        <i class="fas fa-book"></i>
      </a>
          <a class="fab-action fab-action-3">
        <i class="fas fa-address-book"></i>
      </a>
          <a class="fab-action fab-action-4">
        <i class="fas fa-info"></i>
      </a>
    </div>
  </div>

  <div class="row justify-content-end" id="fix_create">
    <div class="col-sm-6 col-md-4 p-2 purbd_home_div">
        <input type="button"  class='post_button' value="글쓰기" onClick=" location.href='create'">
    </div>
  </div>

</div>
{% endblock %}

