<!-- slidebar Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% extends 'nav.html' %}

{% block content %}
{% load static %}

<div class="detail_container" style="position: relative;">

  <div class="category__menu" style="position: relative;"> 
    <div class="category-item">
      <a href="{% url 'buyHome' %}">전체</a>
    </div>
    <div class="category-item">
      <a href="{% url 'category' 'food' %}">식료품</a>
    </div>
    <div class="category-item">
      <a href="{% url 'category' 'necessity' %}">생필품</a>
    </div>
    <div class="category-item">
      <a href="{% url 'category' 'ott' %}">OTT</a>
    </div>
    <div class="category-item">
      <a href="{% url 'category' 'delivery' %}">배달</a>
    </div>
  </div>

  <div class="searchForm">
    <!-- 정렬 -->

    <select id="sort-select" onchange="location = this.value;">
      <option class="sort-date" value="?sort=date">최신순</option>
      <option class="sort-likes" value="?sort=likes">좋아요순</option>
      <option class="sort-likes" value="?sort=lowprice">낮은가격순</option>
      <option class="sort-likes" value="?sort=highprice">높은가격순</option>
      
    </select>
    <!-- 정렬 -->

    <!-- 검색창 -->
    <form action="" method="GET">
      {% csrf_token %}
      <input type="text" placeholder="search" name="q">
      <button type="submit">검색</button>
    </form>
    <!-- 검색창 --> 
    
  </div>
  {% if posts %}
  {% if q %}
    <h5>'{{q}}' 검색결과입니다.</h5>
    {% endif %}
  <!-- 게시글 출력 -->
  {% for post in posts %}
  <article class="card">
		<header class="card__thumb">
      {% if post.photo %}
      <img src="{{ post.photo.url }}" alt="">
      {% else %}
      <img src="https://s.aolcdn.com/images/dims?client=fh7w6q744eiognjk&signature=d59d0cf6af1d779a3dca451e0ba259c33bbc6115&image_uri=https%3A%2F%2Fs.aolcdn.com%2Fos%2Fab%2F_cms%2F2019%2F08%2F30142658%2F2020-jeep-wrangler-16.jpg&thumbnail=750%2C422&quality=80" alt="" />
      {% endif %}
		</header>
		<div class="card__body">
      <a href="{% url 'buyDetail' post.id %}">
        <div class="card__ing__container">
          <div class="card__category">카테고리</div>
          <div class="card__ing">모집중</div>
          <div class="card__finish">마감임박</div>
        </div>
        <div class="card__title">{{post.title}}</div>
        <div class="card__price">{{post.price}}원 /1인</div>
        <p class="card__description">{{post.body}}</p>
      </a>
		</div>
		<footer class="card__footer">
			<ion-icon class="time__icon" name="time-outline"></ion-icon><span class="icon"></span> {{post.date|date:'m/d H:i'}}</span>
			<ion-icon class="place__icon" name="location-outline"></ion-icon><span class="icon icon--comment"> {{post.location}}</span>
		</footer>
	</article>
  {% endfor %}
  {% else %}
  <!-- 출력할 게시글이 없을때  -->
  {% if q %}
  <!-- 검색 결과 없을 경우  -->
   {% if q|length == 1 %}
  <h5>검색어는 2자 이상 입력해주세요</h5>
  {% else %}
  <h5>'{{q}}'와 일치하는 검색 결과가 없습니다.</h5>
  {% endif %}
  {% else %}
  <h5> 작성된 게시글이 없습니다. </h5>
  {% endif %}
  {% endif %}

  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-3 p-2 purbd_home_div">
      {%if posts.has_previous%}
      <a class="listbutton" href="?page=1"><button type="button" class="btn btn-dark">첫 번째
          페이지</button></a>&nbsp&nbsp&nbsp
      {%endif%}
      {%if posts.has_next%}
      <a href="?page={{posts.next_page_number}}"><button type="button"
          class="btn btn-dark">다음</button></a>&nbsp&nbsp&nbsp
      {%endif%}
      <div style="text-align:center;">
        <span>{{posts.number}}&nbsp</span>
        <span>/&nbsp&nbsp{{posts.paginator.num_pages}}</span>
      </div>
      {%if posts.has_previous%}
      <a href="?page={{posts.previous_page_number}}"><button type="button"
          class="btn btn-dark">이전</button></a>&nbsp&nbsp&nbsp
      {%endif%}
      {%if posts.has_previous%}
      <a class="listbutton" href="?page={{posts.previous_page_number}}"><button type="button" class="btn btn-dark">마지막
          페이지</button></a>
      {%endif%}
    </div>
  </div>

  <div class="wirte_btn_container">
    <input id="fabCheckbox" type="checkbox" class="write_checkbox" />
    <label class="write_btn" for="fabCheckbox">
      <span class="write_font blinking">글쓰기</span>
    </label>
    <div class="write_btn_wheel">

      <a class="fab-action fab-action-1" href="{% url 'buyCreate' %}">
        <span class="write_wheel_font">배달</span>
      </a>
      <a class="fab-action fab-action-2" href="{% url 'buyCreate' %}">
        <span class="write_wheel_font">OTT</span>
      </a>
      <a class="fab-action fab-action-3" href="{% url 'buyCreate' %}">
        <span class="write_wheel_font">생필품</span>
      </a>
      <a class="fab-action fab-action-4" href="{% url 'buyCreate' %}">
        <span class="write_wheel_font">식료품</span>
      </a>
      
    </div>
  </div>

</div>
{% endblock %}
