{% extends 'nav.html' %}

{% block content %}
{% load static %}
<div id="map" style="width:100%;height:350px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bd4feb6026338d2f553dadbd615a5509"></script>
<script>
    let positions = JSON.parse("{{ positionsJson | escapejs }}")

    let mapContainer = document.getElementById('map'), // 지도를 표시할 div  
    mapOption = { 
        center: new kakao.maps.LatLng(35.8317614521794, 128.7584685504256), // 지도의 중심좌표
        level: 5 // 지도의 확대 레벨
    };

    let map = new kakao.maps.Map(mapContainer, mapOption); // %%%%%%%%%%%%%%%%%%%%%%%%%%%%%지도를 생성합니다

    // %%%%%%%%%%%%%%%%%%%%%%%처음에 내위치로 나오게 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    if (navigator.geolocation) {
    
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        
        let lat = position.coords.latitude, // 위도
            lon = position.coords.longitude; // 경도
        
            let locPosition = new kakao.maps.LatLng(lat, lon)
        
        // 마커와 인포윈도우를 표시합니다
        displayMarker(locPosition);
            
      });
    
    } else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치
    
        let locPosition = new kakao.maps.LatLng(35.8317614521794, 128.7584685504256)
        
        displayMarker(locPosition);
    }

function displayMarker(locPosition) {
    let imageSrc = "{% static 'images/people.png' %}", // 마커이미지의 주소입니다    
    imageSize = new kakao.maps.Size(40, 40), // 마커이미지의 크기입니다
    imageOption = {offset: new kakao.maps.Point(27, 40)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
      
// 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)

// 마커를 생성합니다
let Pmarker = new kakao.maps.Marker({  
    map: map, 
    position: locPosition,
    image: markerImage // 마커이미지 설정 
}); 

// 지도 중심좌표를 접속위치로 변경합니다
map.setCenter(locPosition);      
}  
// // %%%%%%%%%%%%%%%%클러스터%%%%%%%%%%%%%%%%%%
// var clusterer = new kakao.maps.MarkerClusterer({
//         map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
//         averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
//         minLevel: 10, // 클러스터 할 최소 지도 레벨
//         disableClickZoom: true // 클러스터 마커를 클릭했을 때 지도가 확대되지 않도록 설정한다
//     });


// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%거래글 표시 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%
const markImg =[
        "{% static 'images/foodmark.png'%}",
        "{% static 'images/nesmark.png'%}",
        "{% static 'images/ottmark.png'%}",
        "{% static 'images/delmark.png'%}",]
let markers=[];
for (let i = 0; i < positions.length; i ++) {
    let imageSrc =markImg[positions[i].category], // 마커이미지의 주소입니다    
    imageSize = new kakao.maps.Size(40, 40), // 마커이미지의 크기입니다
    imageOption = {offset: new kakao.maps.Point(27, 40)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
      
    // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
    let markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption)

    let marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position:new kakao.maps.LatLng(positions[i].lat,positions[i].long), // 마커의 위치
        clickable: true,
        image: markerImage // 마커이미지 설정 
    });
    // markers.push(marker);
    let id = positions[i].id
    let url = "http://127.0.0.1:8000/buy/detail/"+ id;
    
    // ------------------------------------박스내용 여기서 바꿈 -----------------------------------------------------
    let iwContent = `<div style="padding:5px;">${positions[i].title}</div>
    <a href="${url}" style=" text-decoration : none; color : black;">${positions[i].title}</a>`, // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

    iwRemoveable = true;
    // 마커에 표시할 인포윈도우를 생성합니다 
    let infowindow = new kakao.maps.InfoWindow({
        content: iwContent,// 인포윈도우에 표시할 내용
        removable : iwRemoveable
    });
    kakao.maps.event.addListener(marker, 'click', function() {

        infowindow.open(map, marker);  
    });

}
//%%%%%%%%%%%%%%%%% 클러스터 %%%%%%%%%%%%%%%%%%%
// clusterer.addMarkers(markers);

// kakao.maps.event.addListener(clusterer, 'clusterclick', function(cluster) {

// // 현재 지도 레벨에서 1레벨 확대한 레벨
// let level = map.getLevel()-1;

// // 지도를 클릭된 클러스터의 마커의 위치를 기준으로 확대합니다
// map.setLevel(level, {anchor: cluster.getCenter()});
// });

</script>

{% endblock %}
