* { margin: 0px; padding: 0px; }
body {
	background: white;
	font:12px "Open Sans", sans-serif; 
    overflow: hidden;
     height: 100%;
}

.footer-top{
	display: none;
}

/* 채팅 리스트*/

.chats{
	overflow-y: auto; 
	height: 98%;
}
.chat{
	height:70px;
	border-bottom:1px solid #e7ebee;		
	position:relative;
}
.chat:hover{
	background:#f1f4f6;
	cursor:pointer;
}
.chat img{
	width:40px;
	height: 40px;
	border-radius:50%;
	margin:15px;
	float:left;
}

.chat div{
	padding:15px 0 0 0;			
}
.chat div strong{
  font-weight:600;
  font-size:15px;
	color:#597a96;  
}
.last-time {
    float: right;
    margin-right: 10px;
}

.member-count{
	padding-left : 5px;
}
.chat div span{
	font-size:13px;
	color:#aab8c2;
}
.chat .status{
	background:#26c281;
	border-radius:50%;	
	width:9px;
	height:9px;
	position:absolute;
	top:31px;
	right:17px;
}
.chat .status.away{background:#ffce54;}
.chat .status.inactive{background:#eaeef0;}

/* 팝업 */
.pop_blank #closePop {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	
	display: flex;
	justify-content: center;
	align-items: center;
  
	/* margin-right: -11px; */
	float: right;
	cursor: pointer;
  }
  .pop_blank #closePop:hover{
	background-color: rgb(250, 247, 247);
  }

/* 메시지 전송창*/
.post_name {
  color : white;
  text-decoration: none;
}

.post_name:hover {
	color : rgb(165, 223, 104);
	text-decoration: none;
  }
#tx_send{
    border:none;
	/* border-top:1px solid #c7c9ca;	 */
    overflow-y: auto;
    width: 100%; 
	background:#fff;
	
}

#view-code{
  color:#89a2b5;    
  opacity:0.7;
  font-size:14px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:660px;
  left:50%;margin-left:-50px;
  z-index:200;
}
#view-code:hover{opacity:1;}

#topmenu{
	height:69px;
	width:290px;
	border-bottom:1px solid #d8dfe3;	
}
#topmenu span{
	float:left;	
	width: 96px;
    height: 70px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png") -3px -118px no-repeat;
}
#topmenu span.friends{margin-bottom:-1px;}
#topmenu span.chats{background-position:-95px 25px; cursor:pointer;}
#topmenu span.chats:hover{background-position:-95px -46px; cursor:pointer;}
#topmenu span.history{background-position:-190px 24px; cursor:pointer;}
#topmenu span.history:hover{background-position:-190px -47px; cursor:pointer;}

.floatingImg{
	width:40px;
	border-radius:50%;
	position:absolute;
	top:0;
	left:12px;
	border:3px solid #fff;
}

#search{
	background:#e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
	height:60px;
	width:290px;
	position:absolute;
	bottom:0;
	left:0;
}
#searchfield{
	background:#e3e9ed;
	margin:21px 0 0 55px;
	border:none;
	padding:0;
	font-size:14px;
	font-family:"Open Sans", sans-serif; 
	font-weight:400px;
	color:#8198ac;
}
#searchfield:focus{
	 outline: 0;
}

#profile{
	text-align:center;
	color:rgb(0, 0, 0);
	background-color: #fb2146;
	background-size: 100%;
    background-repeat: no-repeat;
	width: 100%;
	height:100px;

}	

#profile .avatar{
	width:68px;
	border:3px solid #fff;
	border-radius:50%;
}
#profile  p{
	color : white;
	font-weight:600px;
	font-size:15px;
	padding-top : 25px;
}

#profile  span{
	color : white;
	font-weight:400px;
	font-size:11px;
}
#chat-messages{
	height: calc(100% - 150px);
    width:100%;
	/* margin-bottom: 20px; */
	padding : 10px;
	/* padding-bottom : 20px; */
    overflow-y:auto; 
	overflow-x:hidden;
}

#chat-messages label{
	color:#aab8c2;
	font-weight:600;
	font-size:12px;
	text-align:center;
	margin:15px 0;
	display:block;	
}

.nickname{
	color : #606d77;
}

#chat-messages div.message{
	padding:0 0 30px 58px;
	clear:both;
	margin-bottom:45px;
}
#chat-messages div.message.right{
	  padding: 0 58px 30px 0;
	  margin-right: -19px;
	  margin-left: 19px;
}
#chat-messages .message img{
	  float: left;
	  margin-left: -45px;
	  border-radius: 50%;
	  width: 35px;
	  margin-top: 12px;
}
#chat-messages div.message.right img{
	float: right;	
    margin-left: 0;
	margin-right: -38px;	
}
.message .bubble{	
	background:#f0f4f7;
	font-size:13px;
	font-weight:600;
	padding:12px 13px;
	border-radius:5px 5px 5px 0px;
	color:#8495a3;
	position:relative;
	float:left;
}
#chat-messages div.message.right .bubble{
	float:right;
	border-radius:5px 5px 0px 5px ;
}
.bubble .corner{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
	position:absolute;
	width:7px;
	height:7px;
	left:-5px;
	bottom:0;
}
div.message.right .corner{
	background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
	left:auto;
	right:-5px;
}

.bubble span{
	  color: #aab8c2;
	  font-size: 11px;
	  position: absolute;
	  right: 0;
	  bottom: -22px;
}


#send_form textarea{
	width: calc(100% - 50px);
	height: 50px;
	background:#fff;
	/* border-top : 1 solid black ; */
	font-size:15px;
	line-height: 50px;
	font-family:"Open Sans", sans-serif; 
	font-weight:400px;
	color: rgb(67, 66, 66);
	padding-left: 10px;
	resize: none;
}
#send_form input:focus{
	 outline: 0;
}
#send_form button{
	/* background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 12.5px 15px no-repeat; */
	width:50px;
	height:50px;	
	/* margin-top: 10px; */

	border:none;
	float : right;
	cursor:pointer;
}
/* #send_form button:hover{
	background-color: rgb(250, 247, 247);
} */
#send_form button:focus{
	 outline: 0;	 
}

#close{
	position:absolute;
	top: 8px;	
	opacity:0.8;
 	right: 10px;
	width:20px;
	height:20px;
	cursor:pointer;
}
#close:hover{
	opacity:1;
}
.cx, .cy{
	background:#fff;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s1{	
	right:0;	
	width:20px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
.cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#chatview { 
overflow:hidden; 
border-radius:6px; 
}