<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% extends 'nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
<script type="text/javascript" src="{%static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{%static 'js/SendBird.min.js' %}"></script>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>
      <script type="text/javascript" src="{%static 'js/chat.js' %}"></script>
      <script>
            set_last_date('{{last_date}}')
      </script>
      <script>
            init_detail('{{application_id}}', '{{channel_url}}', '{{user_id}}');
           
      
      </script>
     <div class = "out detail_container">
            <div id="profile">
                  <p>{{chat_name}}</p>
                  <span name="myPost"><img src="{% static 'images/person.png'%}" width="13" alt="Clipart Person Icon Cliparts" style="padding-right: 3px;"/>{{member_count}}</a></span>
            </div>
            <div id="chat-messages">
                  {% for message in message_list %}
                        {%if message.check_same_date %}
                        <label>{{message.sent_date}}</label>
                        {% endif %}
                        {% if message.check_same  %}
                        <div class="message right">
                              <div class="bubble">
                                    {{message.text}}
                                    <div class="corner"></div>
                                    <span>{{message.sent_time}}</span>
                              </div>
                        </div>
                        {% else %}
                        <div class="message">
                              {% if message.level == 0 %}
                              <img src="{% static 'images/level0.png'%}" class="profile_img">
                              {% elif  message.level == 1 %}
                              <img src="{% static 'images/level1.png'%}" class="profile_img">
                              {% elif  message.level == 2 %}
                              <img src="{% static 'images/level2.png'%}"class="profile_img">
                              {% elif  message.level == 3 %}
                              <img src="{% static 'images/level3.png'%}" class="profile_img">
                              {% elif  message.level == 4 %}
                              <img src="{% static 'images/level4.png'%}" class="profile_img">
                              {% endif %}
                              <div class="nickname">{{message.nickname}}</div>
                              <div class="bubble">
                                    {{message.text}}
                                    <div class="corner"></div>
                                    <span>{{message.sent_time}}</span>
                              </div>
                        </div>
          
                        {% endif %}
                       
                       
            {% endfor%}
            <div id="new_message"></div>
           </div>
            <div>
                  <form id = "send_form" method="post" onsubmit="send_message()">
                        {% csrf_token %}
                        <textarea placeholder="채팅을 입력하세요." onfocus="this.placeholder=''" onblur = "this.placeholder ='채팅을 입력하세요.'" id="tx_send" name ="messages" spellcheck="false" rows="1"  cols="40"></textarea>
                        <button type="button" onclick="send_message()"></button>
                  </form>    
            </div>
     </div> 

     </script>
  
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{%static 'js/chat.js' %}"></script>
</body>

  
{% endblock %}