<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>

{% extends 'nav.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <script language='javascript'> 
     chats = document.getElementById("chats");
     
     setTimeout(chats.location.reload(), 1000);


    
    </script>

</head>

<body>
 
  <div class ="chats">
 {% for chat in chats %}
  <div class="chat" onclick="location.href='{{chat.pk}}'">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
        <div>
          <strong>{{chat.chat_room_name}}</strong>
          <span class="member-count"> {{chat.member_count}}</span>
          {% if chat.time %}
          <span class = "last-time">{{chat.time}}</span>
          {% endif %}
          <br>
 
          <span> {{chat.last_message}}</span>
        </div>
        
    </div>

      {% endfor%}
    </div>
</body>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

{% endblock %}