<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
{% extends 'nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
<script type="text/javascript" src="{%static 'js/jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{%static 'js/SendBird.min.js' %}"></script>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<body>
      <script type="text/javascript" src="{%static 'js/chat.js' %}"></script>

      <script>  
      window.onpageshow = function(event) {
      if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
      // Back Forward Cache로 브라우저가 로딩될 경우 혹은 브라우저 뒤로가기 했을 경우
      location.reload();
    }
   }

            init_home('{{application_id}}', '{{user_id}}');
      </script>
 
  <div class ="chats detail_container">
 {% if chats %}
 {% for chat in chats%}
 {% if chat.pk %}
  <div class="chat" onclick="location.href='{{chat.pk}}'">
      <img src='{{chat.cover_url}}' />
        <div>
          <strong>{{chat.chat_room_name}}</strong>
            <span class="member-count"> {{chat.mem_count}}</span>
          {% if chat.time %}
          <span class = "last-time">{{chat.time}}</span>
          {% endif %}
          <br>
 
          <span> {{chat.last_message}}</span>
        </div>
       
    </div>
    {% endif %}
    {% endfor%}
    {% else %}
    생성된 채팅방이 없습니다.
    {% endif %}
   
     
    </div>
</body>
    

{% endblock %}