<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% extends 'nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<style>
     .detail_container {
          max-width: 768px;
          padding: 40px 0;
     }
     .detail_container iframe {
          width: 100%;
          height: calc(100% - 80px);
     }
     @media screen and (max-width: 768px) {
          .detail_container {
            width: auto;
            padding: 0;
          }
          .detail_container iframe {
               height: 100%;
          }
     }
     .ai {
          display: none;
     }
     .orb{
          display: none;
     }
</style>
<body>
     <div class = "detail_container">
      <div style = "text-align: center;">


          <iframe
          style="border: none;"
          height="600px"
          width="400px"
          src="https://widget.kommunicate.io/chat?appId=141e9aebcf854aaf40552fe777cd72e00"
          allow="microphone; geolocation;"
      >
</iframe>
     
     </div> 
      </div>

</body>
<!-- <script>
     var query = document.getElementById('query');
     query.setAttribute('placeholder','zzzz');
 </script> -->
 <script type="text/javascript" src="{%static 'js/bombom.js' %}"></script>
{% endblock %}