<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% extends 'nav.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<body>
     
     <div class = "detail_container">
        AI 챗봇


          
     </div> 

     </script>
  

</body>

  
{% endblock %}