/* !!!선택자는 class나 id로 하기!!! */
/* class,id 명은 "파트명_자유" */

/* 그리고 섞이면 복잡하니까 주석으로 영역나눠서 작업해주세영 */
/* margin, padding -> 상우하좌 */

/* ---------폰트 변경---------- */
@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ---------아이콘 import---------- */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ---------파트명---------- */
.buttonColor {
  background: #E98197;
}
.buttonColor:hover {
  background: #f09fb0;
}

/* ------ main -------*/
.jb-box {
  width: 100%;
 height: 50%; 
 overflow: hidden;
 margin: 0px auto;
 position: relative; }

 video { width: 100%; }


/* ---------detail---------- */
.detail_container {
  max-width: 1024px;
  width: 75vw;
  /*border: 1px solid;
  border-color: lightgrey;
  border-radius: 10px 10px; */

  padding: 20px 0;
  /* margin-top: 20px; */
  margin: 0 auto;

  overflow: hidden;
}
.detail_nav {
  width: 100%;

  padding: 0 20px;

  overflow: hidden;
}
.detail_navEle {
  text-decoration: none;

  font-size: 12px;
  color: grey;
  
  margin-left: 10px;

  float: right;
}
/* .detail_visual {
 width: calc(65% - 40px);
 margin: 20px;
 float: left;
} */
.detail_img {
  width: calc(60% - 40px);
  /* width: 100%; */
  max-height: calc(calc(1024px * 0.6) - 40px);
  height: calc(calc(100vw * 0.75 * 0.6) - 40px);
  border-radius: 30px;
  /*object-fit: contain; /*여백 O*/
  object-fit: cover; /*여백 X*/
  background-color: grey;
  margin-bottom: 40px;
  margin: 20px;

  float: left;
}
.detail_map {
  width: calc(60% - 40px);
  /* width: 100%; */
  max-height: calc(calc(calc(1024px * 0.6) - 40px) * 0.75);
  height: calc(calc(calc(100vw * 0.75 * 0.6) - 40px) * 0.75);
  border-radius: 30px;
  background-color: grey;
  margin: 20px;

  float: left;
}
.detail_main {
  width: calc(40% - 40px);
  /* height: 1000px; */
  border: 1px solid;
  /* border-color: lightgrey; */
  border-color: white;
  border-radius: 30px;
  /* background-color: rgb(250, 247, 247); */
  margin: 20px;
  padding: 20px 0;
  float: right;
}
.detail_category {
  font-size: 12px;
  color: grey;
}
.detail_title {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
}
.detail_price {
  font-weight: bold;
  font-size: 20px;
  color: #E98197;
  padding-top: 20px;
}
.detail__lev {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: grey;

  display: flex;
  justify-content: center;
  align-items: center;
}
.detail_loca_time {
  font-size: 15px;
  margin: 0;
  padding-bottom: 3px;
}
.detail_context {
  width: 100%;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.3;
  white-space: pre-line;
  margin: 20px 0 40px 0;
}
.detailBtns{
  display: flex;
  align-items: center;
}
.detailLikeForm{
  display: block;
}
.detail_likeButton {
  width: 50px;
  height: 50px;
  margin: 0 25px 0 0;
  border: 0;
  border-radius: 25px;
  vertical-align: top;
  /* background: #E98197; */
  color: white;
  font-size: 15px;
  font-weight: bold;
  line-height: 120%;
  cursor: pointer;
}
/* .detail_likeButton:hover {
  background: #f09fb0;
} */
.detail_applyButton {
  width: calc(100% - 75px);
  height: 50px;
  margin: 0;
  border: 0;
  border-radius: 25px;
  /* background: #E98197; */
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
/* .detail_applyButton:hover {
  background: #f09fb0;
} */


@media screen and (max-width: 1024px) {
 .detail_container {
    width: 92.5vw;
    position: relative;
 }
 /* .detail_visual {
   width: calc(60% - 40px);
 } */
 .detail_img {
    /* width: 100%; */
    width: calc(60% - 40px);
    height: calc(calc(92.5vw * 0.6) - 40px);
    /* margin-bottom: 40px; */
    border-radius: 20px;
 }
 .detail_map {
    /* width: 100%; */
    width: calc(60% - 40px);
    height: calc(calc(calc(92.5vw * 0.6) - 40px) * 0.75);
    border-radius: 20px;
 }
 .detail_main {
    width: calc(40% - 40px);
    border-radius: 20px;
 }
 .detail_applyButton {
    width: calc(100% - 75px);
 }
}
/* @media screen and (max-width:1024px) {
 .detail_container {
  padding: 20px 30px;
 }
 .detail_img {
  height: calc(calc(calc(100vw - 60px) * 0.6) - 40px);
 }
 .detail_map {
  height: calc(calc(calc(100vw - 60px) * 0.6) - 40px);
 }
} */
@media screen and (max-width: 768px) {
  .detail_container {
    width: auto;
    padding: 10px;
  }
  /* .detail_visual {
    width: calc(100% - 40px);
    margin-bottom: 10px;

    float: none;
  } */
  .detail_nav {
    margin: 5px 0;
  }
  .detail_img {
    width: calc(100% - 40px);
    /* height: calc(calc(100vw - 15.15px) - 60px); */
    margin-top: 10px;
    padding-bottom: calc(100% - 40px);
  }
  .detail_map {
    width: calc(100% - 40px);
    /* height: calc(calc(calc(100vw - 15.15px) - 60px) * 0.75); */
    margin-top: 10px;
    padding-bottom: calc(calc(100% - 40px) * 0.75);
  }
  .detail_main {
    width: calc(100% - 40px);

    margin-top: 10px;
    padding: 0;
    /* float: none; */
  }
  .detail_applyButton {
    width: calc(100% - 75px);
  }
}



/* ---------create---------- */
*:focus {
  outline: none;
}
.create_img768 {
  margin-top: 20px;
}
.create_pick {
  margin: 20px;
  background-image: url("");

  float: left;
}
.create_img {
  width: 100%;
  /* max-height: 792px;
  height: calc(calc(100vw * 0.7 * 0.65) - 40px); */
  max-height: calc(calc(1024px * 0.6) - 40px);
  height: calc(calc(100vw * 0.75 * 0.6) - 40px);
  border-radius: 30px;
  /*object-fit: contain; /*여백 O*/
  object-fit: cover; /*여백 X*/
  background-color: grey;

  position: absolute;
  left: 0;
}
#create_pickButton {
  width: 20%;
  max-height: calc(calc(calc(1024px * 0.6) - 40px) * 0.2);
  height: 20%;
  margin: 0;
  border: 0;
  border-radius: 50%;
  /* background: #E98197; */
  color: white;
  /* font-size: min(calc(calc(calc(100vw * 0.75 * 0.6) - 40px) * 0.1), calc(calc(calc(1024px * 0.6) - 40px) * 0.1)); */
  /* font-weight: bold; */
  /* text-align: center; */
  /* line-height: min(calc(calc(calc(100vw * 0.75 * 0.6) - 40px) * 0.2), calc(calc(calc(1024px * 0.6) - 40px) * 0.2)); */
  cursor: pointer;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10%;
  margin-top: -10%;
  /* padding-bottom: 20%; */
}
/* #create_pickButton:hover {
  background: #f09fb0;
} */
.create_submitButton {
 width: 100%;
 height: 50px;
 margin: 0;
 border: 0;
 border-radius: 25px;
 /* background: #E98197; */
 color: white;
 font-size: 15px;
 font-weight: bold;
 cursor: pointer;
}
/* .create_submitButton:hover {
 background: #f09fb0;
} */


@media screen and (max-width: 1024px) {
  .create_img {
    width: 100%;
    /* width: calc(60% - 40px); */
    height: calc(calc(92.5vw * 0.6) - 40px);
    /* margin-bottom: 40px; */
    border-radius: 20px;
  }
  /* #create_pickButton {
    height: calc(calc(calc(92vw * 0.6) - 40px) * 0.2);
    font-size: calc(calc(calc(92.5vw * 0.6) - 40px) * 0.1);
    line-height: calc(calc(calc(92.5vw * 0.6) - 40px) * 0.2);
  } */
 }
@media screen and (max-width: 768px) {
  .create_pick {
    margin-bottom: 10px;
  }
  .create_img {
    width: 100%;
    /* width: calc(100% - 40px); */
    /* height: calc(calc(100vw - 15.15px) - 60px); */
    /* margin-bottom: 10px; */
    /* padding-bottom: calc(100% - 40px); */
    padding-bottom: 100%;
  }
  #create_pickButton {
    padding-bottom: 20%;
  }
}


/* ---------map---------- */
.map_main {
  width: calc(100% - 80px);
  /* height: 75vh; */
  height: calc(100% - 80px);
  /* height: calc(calc(calc(100vw - 15.15px) - var(--nav--width)) * 0.75); */
  border-radius: 30px;

  margin: 40px;

  float: left;
}
.map_CustomOverlay {
  position: absolute;
  left: 0;
  bottom: 40px;
  width: 218px;
  height: 132px;
  margin-left: -109px;
  text-align: left;
  overflow: hidden;
  font-size: 12px;
  font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
  line-height: 1.5;
}
.map_CustomOverlay * {padding: 0; margin: 0;}
.map_CustomOverlay .map_info {
  width: 216px;
  height: 120px;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  border-right: 1px solid #ccc;
  overflow: hidden;
  background: #fff;
}
.map_CustomOverlay .map_info:nth-child(1) {border: 0; box-shadow: 0px 1px 2px #888;}
.map_info .map_header {
  padding: 5px 0 0 10px;
  height: 35px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  /* background-color: blue; */
  
  /* cursor: pointer; */
}
.map_info .map_title {
  font-size: 18px;
  font-weight: bold;
  text-decoration : none;
  color : black;
}
.map_info .map_close {
  position: absolute;
  top: 11px;
  right: 13px;
  /* color: #888; */
  width: 13px;
  height: 13px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
  background-size: 100% 100%;
  background-position: center;
  /* background-color: blue; */
}
.map_info .map_close:hover {cursor: pointer;}
.map_info .map_body {position: relative; overflow: hidden;}
.map_info .map_desc {position: relative; margin: 15px 15px 0 15px; /*height: 55px;*/ font-size: 12px;}
.map_desc .map_location {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
/* .map_desc .map_time {font-size: 11px;color: #888;margin-top: -2px;} */
.map_info .map_imgDiv {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 55px;
  height: 55px;
  /* border: 1px solid #ddd; */
  /* color: #888; */
  border-radius: 5px;
  overflow: hidden;

  background-color: grey;
}
.map_info:after {
  content: '';
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}
/* .map_info .map_price {color: #5085BB;} */
.map_detail {
  display: none;
}

@media screen and (max-width:768px) {
  .map_main {
    /* --scrollbar-width: calc(100vw - 100%); */
    width: calc(100% - 60px);
    /* width: 100%; */
    /* height: calc(calc(100vw - 15.15px) - 60px); */
    /* height: calc(calc(calc(100vw - 15.15px) - var(--nav--width)) - 60px); */
    /* height: calc(100vw - var(--scrollbar-width)); */
    border-radius: 20px;
  
    margin: 30px auto;
    padding-bottom: calc(100% - 60px);

    float: none;
  }
  .map_CustomOverlay {
    display: none;
  }
  .map_detail {
    width: calc(100% - 60px);
    /* height: calc(calc(100vw - 15.15px) - 60px); 사이드바 없어지면 */
    /* height: calc(calc(calc(100vw - 15.15px) - var(--nav--width)) - 60px); */
    /* height: calc(100% - 60px); */
    height: 132px;
    border-radius: 20px;
    background-color: rgb(250, 247, 247);

    margin: 0 auto 30px auto;

    display: block;
    /* float: left; */
  }
}


/* ---------chat---------- */


/* ---------profile---------- */
#profile_table {
  width: calc(100% - 40px);
  margin: 40px 20px;
}
.profile_img {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: grey;

  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_nick {
  margin: 0;
  padding-left: 15px;
  font-size: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.profile_summary {
  width: calc(100% - 40px);
  /* height: 140px; */
  border-radius: 20px;
  background-color: rgb(250, 247, 247);
  margin: 20px;
  padding: 25px 0;

  float: left;
  overflow: hidden;
}
.profile_division {
  width: calc(calc(100% / 3));
  float: left;
}
.profile_divUpParts {
  font-size: 15px;
  text-align: center;
  /* padding-top: 10px; */
}
.profile_divDownParts {
  font-size: 15px;
  color: #E98197;
  /* font-weight: bold; */
  text-align: center;
  padding-top: 7.5px;
  /* padding-bottom: 10px; */
}
.profile_verticalHr {
  border-right: 2px solid white;
}
.profile_halfDiv {
  width: calc(calc(calc(100% - 40px) / 2));
  min-height: 200px;
  border-radius: 20px;
  background-color: rgb(250, 247, 247);
  padding: 0 25px;

  float: left;
}
#profile_myPost {
  margin-right: 40px;
}
.profile_horizontalHr {
  border-bottom: 2px solid white;
}

@media screen and (max-width:768px) {
  #profile_table {
    margin: 30px 20px;
  }
  .profile_summary {
    margin: 15px 20px;
  }
  .profile_halfDiv {
    width: 100%;
  }
  #profile_myPost {
    margin: 0 0 30px 0;
  }
  #profile_delete {
    margin-bottom: 20px;
  }
}


/* ---------폰트 바꾸기---------- */
.font_change {
  font-family: 'SEBANG_Gothic_Bold';
  position: relative;
}

/* ---------navbar---------- */
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #FB2146;
  --first-color-light: #C4C7F5;
  --dark-color: #0E1026;
  --white-color: #FBFBFB;

  /*===== z index =====*/
  --z-fixed: 1;
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  text-decoration: none;
}

.bd-grid {
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: #FFF;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
  color: var(--dark-color);
}

.header__toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

/*===== 모바일 NAV =====*/
@media screen and (max-width: 1440px) {
  .nav {
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--first-color);
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: var(--z-fixed);
    transition: .5s;
    -ms-overflow-style: none;
  }
  .nav__name {
    font-size: 1.6rem;
  }
  .nav::-webkit-scrollbar{
    display:none;
   }
}


/*===== 웹 NAV =====*/
@media screen and (min-width: 1440px) {
.nav {
  font-size: 2rem;
  position: fixed;
  top: 0;
  left: -20%;
  background-color: var(--first-color);
  width: 30%;
  height: 100vh;
  padding: 2rem 0;
  z-index: var(--z-fixed);
  transition: .5s;
  overflow-y: auto;
  -ms-overflow-style: none;
  }
  .nav__name {
    font-size: 2rem;
  }
  .nav__perfil {
    margin-top: 3rem;
  }
  .nav::-webkit-scrollbar{
    display:none;
   }
}

i {
  text-decoration: none;
}

.nav__content {
  display: flex;
  flex-direction: column;
}

.nav__perfil {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  text-decoration: none;
}

.nav__img {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.nav__img img {
  width: 70px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--white-color);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--white-color);
  text-decoration: underline;
  text-decoration-thickness: 0.4rem;
  text-decoration-color: yellow;
  text-decoration-style: wavy;
}

/*Show menu*/
.show {
  left: 0;
}

/*Active link*/
.active {
  color: var(--white-color);
}

/*=== Dropdown ===*/
.dropdown__link {
  display: flex;
  justify-content: space-between;
}

.dropdown__icon {
  font-size: 1.3rem;
  transition: .5s;
}

.dropdown__menu {
  margin: 1rem 0 0 1rem;
  display: none;
}

.dropdown__item {
  margin: 1rem 0;
}

.dropdown:hover > .dropdown__menu {
  display: block;
}

.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/*blur*/
.blur {
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}
/* ===== 웹 NAV 과 모바일 NAV 구분 지점 =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo {
    display: none;
  }
  .header__toggle {
    z-index: 2;
  }
}

/* --------sliding menu bar ------- */
#nav-menu{
  -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
#nav-menu::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.menu {
  text-align: center;
  display: inline-flex;
  position: absolute;
  top: 4rem;
  left: calc(50% - 7rem);
  overflow: hidden;
  max-width: 100%;
  height: auto !important;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 40px;
  box-shadow: 0 10px 40px rgba(159, 162, 177, .8);
}

.menu-item {
  color: #83818c;
  padding: 20px;
  text-decoration: none;
  transition: .3s;
  margin: 0 6px;
  z-index: 1;
  font-weight: 500;
  position: relative;
}
.menu:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #dfe2ea;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}

.menu-item:not(.is-active):hover:before {
  opacity: 1;
  bottom: 0;
  text-decoration-line: none;
}


.menu-item:not(.is-active):hover { 
  color: #333; 
  text-decoration-line: none;
}

.menu-indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  transition: .4s;
  height: 5px;
  z-index: 1;
  border-radius: 8px 8px 0 0;
}

@media (max-width: 768px) {
  .menu { overflow: hidden; }
}

/* --------- buy ---------- */

.buy_body {
 background-color: #f3fbfb;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 margin: 0;
}

.buy_container {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 gap: 20px;
 width: 940px;
 margin: auto;
}

.card {
 background-color: #fff;
 border-radius: 15px;
 box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
 overflow: hidden;
 width: 300px;
}

.card-header img {
 width: 100%;
 height: 200px;
 border-radius: 15px;
 object-fit: cover;
}

.card-body {
 display: flex;
 flex-direction: column;
 align-items: start;
 padding: 20px;
 min-height: 250px;
}

.tag {
 background-color: #ccc;
 color: #fff;
 border-radius: 30px;
 font-size: 12px;
 margin: 0;
 padding: 2px 10px;
 text-transform: uppercase;
}

.tag_purple {
 background-color: #3d1d94;
}
.tag_pink {
 background-color: #c62bcd;
}
.card-body h4 {
 margin: 10px 0;
}
.card-body p {
 font-size: 14px;
 margin: 0 0 40px 0;
 font-weight: 500;
 color: rgb(70, 68, 68);
}

@media (max-width: 940px) {
 .container {
   grid-template-columns: 1fr;
   justify-items: center;
 }
}

/* ---------like button----- */




/* ---------registeration---------- */

.registration-form{
 padding: 50px 0;
}

.registration-form form{
   background-color: #fff;
   max-width: 600px;
   margin: auto;
   padding: 50px 70px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
 text-align: center;
   background-color: #E98197;
   border-radius: 50%;
   font-size: 40px;
   color: white;
   width: 100px;
   height: 100px;
   margin: auto;
   margin-bottom: 50px;
   line-height: 100px;
}

.registration-form .item{
 border-radius: 20px;
   margin-bottom: 25px;
   padding: 10px 20px;
}

.registration-form .create-account{
   border-radius: 30px;
   padding: 10px 20px;
   font-size: 18px;
   font-weight: bold;
   background-color: #E98197;
   border: none;
   color: white;
   margin-top: 20px;
}

.registration-form .social-media{
   max-width: 600px;
   background-color: #fff;
   margin: auto;
   padding: 35px 0;
   text-align: center;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   color: #9fadca;
   border-top: 1px solid #dee9ff;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
   margin-top: 30px;
   margin-bottom: 16px;
}

.registration-form .social-icons a{
   font-size: 23px;
   margin: 0 3px;
   color: #5691ff;
   border: 1px solid;
   border-radius: 50%;
   width: 45px;
   display: inline-block;
   height: 45px;
   text-align: center;
   background-color: #fff;
   line-height: 45px;
}

.registration-form .social-icons a:hover{
   text-decoration: none;
   opacity: 0.6;
}

@media (max-width: 576px) {
   .registration-form form{
       padding: 50px 20px;
   }

   .registration-form .form-icon{
       width: 70px;
       height: 70px;
       font-size: 30px;
       line-height: 70px;
   }
}

/* ---------login---------- */
.login-form{
 padding: 50px 0;
}

.login-form form{
   background-color: #fff;
   max-width: 600px;
   margin: auto;
   padding: 50px 70px;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.login-form .form-icon{
 text-align: center;
   background-color: #E98197;
   border-radius: 50%;
   font-size: 40px;
   color: white;
   width: 100px;
   height: 100px;
   margin: auto;
   margin-bottom: 50px;
   line-height: 100px;
}

.login-form .item{
 border-radius: 20px;
   margin-bottom: 25px;
   padding: 10px 20px;
}

.login-form .create-account{
   border-radius: 30px;
   padding: 10px 20px;
   font-size: 18px;
   font-weight: bold;
   background-color: #E98197;
   border: none;
   color: white;
   margin-top: 20px;
}

.login-form .social-media{
   max-width: 600px;
   background-color: #fff;
   margin: auto;
   padding: 35px 0;
   text-align: center;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
   color: #9fadca;
   border-top: 1px solid #dee9ff;
   box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.login-form .social-icons{
   margin-top: 30px;
   margin-bottom: 16px;
}

.login-form .social-icons a{
   font-size: 23px;
   margin: 0 3px;
   color: #5691ff;
   border: 1px solid;
   border-radius: 50%;
   width: 45px;
   display: inline-block;
   height: 45px;
   text-align: center;
   background-color: #fff;
   line-height: 45px;
}

.login-form .social-icons a:hover{
   text-decoration: none;
   opacity: 0.6;
}

@media (max-width: 576px) {
   .login-form form{
       padding: 50px 20px;
   }

   .login-form .form-icon{
       width: 70px;
       height: 70px;
       font-size: 30px;
       line-height: 70px;
   }
}

/* ---------purbd-home---------- */
.purbd_home_inline{
 display: inline;
}

.purbd_home_div_search{
 margin-top:20px;
 padding-top: 10px;
 padding-bottom: 10px;
 text-align : center;
}

.purbd_home_div{
 margin-top:20px;
 margin-bottom:20px;
 padding-top: 10px;
 padding-bottom: 10px;
}

.purbd_home_title {
 display: inline-block;
 width: 80%;
 margin-right: 10px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.purbd_home_location {
 display: inline-block;
 width: 40%;
 margin-right: 10px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.purbd_home_meetTime {
 display: inline-block;
 width: 40%;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

.pink_window {
 display: inline-block;
 width: 350px;
 border: 3px solid #E98197;
 border-radius: 15px;
}
.input_text {
 width: calc( 100% - 14px );
 margin: 6px 7px;
 border: 0;
 font-weight: bold;
 font-size: 16px;
 outline: none;
}
.sch_smit {
 width: 54px; height: 40px;
 margin: 0; border: 0;
 vertical-align: top;
 background: #E98197;
 color: white;
 font-weight: bold;
 border-radius: 10px;
 cursor: pointer;
}
.sch_smit:hover {
 background: #f09fb0;
}

.new_post_button {
 width: 100px; height: 40px;
 margin: 0; border: 0;
 vertical-align: top;
 background: #E98197;
 color: white;
 font-weight: bold;
 border-radius: 10px;
 cursor: pointer;
}

.new_post_button:hover {
 background: #f09fb0;
}

.purbd_home_div_category{
 padding-top: 10px;
 padding-bottom: 10px;
 text-align: center;
}
.catBtn{
 background: #E98197;
 border-color: white;
 color : white;
}

.catBtn:hover{
 background: #f3bcc8;
 border-color: white;
 color : white;
}

.catBtn-active{
 background: #c23352;
 color: white;
 border-color: white;
 
}

.catBtn-active:hover{
 background: #c698a2;
 color: white;
 border-color: white;
 
}



/* ---------freebd-home---------- */
.freebd-home-div{
 margin-top:200px;
}

.freebd-home-board{
 width: 35rem; 
 height: 15rem;
 margin: 0 auto;
 margin-top: 10px;
 margin-bottom: 20px;
}

#fix_AI {
 position: fixed;
 right: 75px;
 bottom: 140px;
}

#fix_create {
 position: fixed;
 right: 75px;
 bottom: 80px;
}

#fixed {
 position: fixed;
 right: 40px;
 bottom: 50px;
}

.post_button {
 width: 50px; height: 50px;
 margin: 0; border: 0;
 vertical-align: top;
 background: #E98197;
 color: white;
 font-weight: bold;
 border-radius: 25px;
 cursor: pointer;
}

.post_button:hover {
 background: #f09fb0;
}
.space{
 margin-right: 10px;
}

/* --------- auth ---------- */

.authBtn_section{
 position: fixed;
 display: table;
 bottom:0;
 background-color: rgb(248, 249, 250);
 width: 100%;
 height: 4rem;
 text-align: center;
}

.authBtn_section > div{
 display: table-cell;
 vertical-align: middle;
}

.rejectBtn{
 width: 100px;
 height: 40px;
 border-radius: 10px;
 background-color: red;
 border-color: white;
 color: white;
 margin-right: 20px;
}
.rejectBtn:hover{
 background-color: rgb(255, 103, 103);
 color: white;
}

.appBtn{
 width: 100px;
 height: 40px;
 border-radius: 10px;
 background-color: blue;
 color: white;
 margin-right: 10px;
 border-color: white;
}

.appBtn:hover{
 background-color: rgb(109, 109, 250);
 border-color: white;
}

.auth_th{
 border: 1px solid white;
 text-align: center;
 background-color:#e556ae ;
 height: 20px;
 color : white;
}

.auth_td{
 text-align: center;
 border: 1px solid white;
 color:black;
}

.auth_tbody_tr  { 
 background-color: #ffdfeb; 
}



/* -------------minsol freehome------------- */

.freeHomeDiv{
  background-color:rgb(250, 247, 247);
  width: 50vw;
  border-radius: 20px;
  padding: 5vh 5vw;
  margin: 10vh auto;
}

.freeContent{
  padding: 3% 0 0% 0;
  border-bottom: 2px solid #fff;
}
.freeContentIcon{
  display: flex;
}
.freeContentIcon span{
  color: #767676;
  font-size: smaller;
}
.icons{
  margin-left: auto;
}
.freeRIcon{
  display: inline-flex;
}
.freePost a{
  text-decoration : none;
  color: black;
}
.freeTitle{
  font-size: 25px;
  font-weight: bold;
}
.freeBody{
  font-size: medium;
}
.freeRIcon img{
  width: 15px;
  height: 15px;
  margin: auto;
}
.freeRIcon{
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.rightBtn{
  background-color: #E98197;
  color: #fff;
  font-weight: bold;
  width: 10vw;
  height: 6vh;
  border: none;
  border-radius: 25px;
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/* free detail */
.freeDetailDiv{
  display: flex;
  justify-content: space-around;
  margin: 10vh auto;
  width: 65vw;
}
.freeDtLeft{
  background-color:rgb(250, 247, 247);
  width: 35vw;
  height: fit-content;
  border-radius: 20px;
  padding: 3vh 2vw;
  position: relative;
}
.freeDtLeft input {
  top: 3vh;
  right: 2vh;
  position: absolute;
  background-color: rgb(255, 103, 103);
  color: #fff;
  border: none;
  border-radius: 20px;
  width: 25px;
}
.freeUser{
  display: flex;
  border-bottom: 2px solid #fff;
  align-items: center;
}
.freeUserName{
  margin: auto 10px;
}
.freeUser span{
  margin-left: auto;
  font-size: smaller;
}
.freeDtRight{
  background-color:rgb(250, 247, 247);
  width: 25vw;
  height: fit-content;
  border-radius: 20px;
  padding: 3vh 0 0 0;
}
.comment {
  padding: 0 3vw;
}
.comment p{
  border-bottom: 2px solid #fff;
  font-size: medium;
  padding: 2vh 0;
  margin: 0;
}
.comment span{
  font-size: smaller;
}
.freecommentUser{
  align-items: center;
  display: flex;
}
.freedate{
  margin-left: auto;
}
.detail_lev {
  width: 15x;
  height: 15px;
  border-radius: 20px 20px;
  background-color: grey;
/* 
  display: flex;
  justify-content: center;
  align-items: center; */
}
.freeDtRight form{
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}
.comment_btn{
  background-color: rgb(255, 103, 103);
  border: none;
  border-radius: 0 20px 20px 0;
}

