{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>바이투게더</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?after">
    <!-- Boxicons CSS -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css' rel='stylesheet'>
</head>

<body class="font_change">
    <header class="header">
        <form action="" method="GET">
            {% csrf_token %}
            <input type="text" placeholder="search" name="q">
            <button type="submit">검색</button>
        </form>

        <a href="#" class="header__logo">BuyTogether</a>

        <i class='bx bx-menu header__toggle' id="header-toggle"></i>

        <nav class="nav" id="nav-menu" >
            <div class="nav__content bd-grid">
                <a href="{% url 'home' %}" class="nav__perfil">
                    <div>
                        <span class="nav__name">Buy</span>
                        <span class="nav__name">Together</span>
                    </div>
                </a>

                <div class="nav__menu">
                    <ul class="nav__list" id="">
                        <li class="nav__item"><a href="{% url 'home' %}" class="nav__link active">홈</a></li>

                        <li class="nav__item dropdown">
                            <a href="{% url 'buyHome' %}" class="nav__link dropdown__link">거래게시판 <i class='bx bx-chevron-down dropdown__icon'></i></a>
                            <ul class="dropdown__menu">
                                <li class="dropdown__item"><a href="{% url 'category' 'food' %}" class="nav__link">식료품</a></li>
                                <li class="dropdown__item"><a href="{% url 'category' 'necessity' %}" class="nav__link">생필품</a></li>
                                <li class="dropdown__item"><a href="{% url 'category' 'ott' %}" class="nav__link">OTT</a></li>
                                <li class="dropdown__item"><a href="{% url 'category' 'delivery' %}" class="nav__link">배달</a></li>
                            </ul>
                        </li>

                        <li class="nav__item"><a href="{% url 'freeHome' %}" class="nav__link">자유게시판</a></li>

                        <li class="nav__item dropdown">
                            <a href="{% url 'chatHome' %}" class="nav__link dropdown__link">채팅<i class='bx bx-chevron-down dropdown__icon'></i></a>
                            <ul class="dropdown__menu">
                                <li class="dropdown__item"><a href="#" class="nav__link">봄봄이와</a></li>
                                <li class="dropdown__item"><a href="#" class="nav__link">사용자들과</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav__item"><a href="{% url 'profileHome' user.username %}" class="nav__link">프로필</a></li>
                        <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link">로그아웃</a></li>
                        {% else %}
                        <li class="nav__item"><a href="{% url 'loginHome' %}" class="nav__link">프로필</a></li>
                        <li class="nav__item"><a href="{% url 'loginHome' %}" class="nav__link">로그인</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- 내용이 들어가는 공간 -->
    <div id="content__blur">
        {% block content %}
        {% endblock %}
    </div>

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <!-- IONICONS 아이콘 js -->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
    <!-- fontawesome 아이콘 js -->
    <script src="https://kit.fontawesome.com/a25b3eb21e.js" crossorigin="anonymous"></script>
    
    <!-- navbar js -->
    <script>
    /*===== EXPANDER MENU  =====*/
        const showMenu = (toggleId, navId, blurId) => {
            const toggle = document.getElementById(toggleId),
                nav = document.getElementById(navId),
                blur = document.getElementById(blurId)
                 
            if (toggle && nav) {
                toggle.addEventListener('click', () => {
                    nav.classList.toggle('show')
                    toggle.classList.toggle('bx-x')
                    blur.classList.toggle('blur')
                })
            }
        }
        showMenu('header-toggle', 'nav-menu', 'content__blur')

        /*===== ACTIVE AND REMOVE MENU =====*/
        const navLink = document.querySelectorAll('.nav__link');

        function linkAction() {
            /*Active link*/
            navLink.forEach(n => n.classList.remove('active'));
            this.classList.add('active');
        }
        navLink.forEach(n => n.addEventListener('click', linkAction));
    </script>

   

    </body>
</html>